/*
----------------------------------------------------------------------------
CSS custom properties for dynamic theming.

1. Color values are specified as a space-separated list of HSL values so they can be used in the CSS 'hsl()' function:

    color: hsl(var(--color-brand) / 50%);
----------------------------------------------------------------------------
*/
:root {
    // Colors.
    --color-brand: 270 50% 40%; // rebeccapurple
    --color-text: 0 0% 20%;
    --color-background: 0 0% 100%;
    --color-neutral-900: 0 0% 0%;
    --color-neutral-100: 0 0% 95%;
    --color-accent-positive: 116 44% 60%;
    --color-accent-negative: 358 75% 39%;
    --color-accent-neutral: 51 100% 45%;
    --color-focus: 193 100% 45%;

    // Typography.
    --type-font-fallback: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
        Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
    --type-font-family: Arial;
    --type-font-family-title: 'robotolight';
    --type-font-family-monospace: Menlo, Monaco, Consolas, 'Droid Sans Mono',
        'Courier New', monospace;

    // Type scale.
    /* @link https://utopia.fyi/type/calculator?c=480,16,1.25,1440,20,1.414,5,1,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
    --step--1: clamp(0.8333rem, 0.7811rem + 0.174vw, 0.9377rem);
    --step-0: clamp(1rem, 0.875rem + 0.4167vw, 1.25rem);
    --step-1: clamp(1.2rem, 0.9669rem + 0.7771vw, 1.6663rem);
    --step-2: clamp(1.44rem, 1.0494rem + 1.3019vw, 2.2211rem);
    --step-3: clamp(1.728rem, 1.1116rem + 2.0546vw, 2.9607rem);
    --step-4: clamp(2.0736rem, 1.1371rem + 3.1218vw, 3.9467rem);
    --step-5: clamp(2.4883rem, 1.102rem + 4.621vw, 5.2609rem);
    --step-6: clamp(2.986rem, 0.9726rem + 6.7113vw, 7.0128rem);

    // NOTE:
    // Can't use this --type-scale in fluid typography calculations & mixin.
    // Need to use $type-scale instead, with same value.
    --type-scale: 1.414;
    --type-max-line-length: 65ch;

    // Layout.
    --gutter: 1.25rem;
    --gutter-xs: calc(var(--gutter-s) / var(--type-scale));
    --gutter-s: calc(var(--gutter) / var(--type-scale));
    --gutter-m: calc(var(--gutter) * var(--type-scale));
    --gutter-l: calc(var(--gutter-m) * var(--type-scale));
    --gutter-xl: calc(var(--gutter-l) * var(--type-scale));

    --gutter-clamp-l: clamp(var(--gutter-m), 4vw, var(--gutter-l));
    --gutter-clamp-xl: clamp(var(--gutter-m), 5vw, var(--gutter-xl));

    // Miscellaneous.
    --media-aspect-ratio: 16/9;
}

// Dark theme: ensure black & white are NOT truly black & white.
@media (prefers-color-scheme: dark) {
    :root {
        --color-brand: 270 50% 50%;
        --color-text: 0 0% 95%;
        --color-background: 0 0% 13%;
        --color-neutral-900: 0 0% 13%;
        --color-neutral-100: 0 0% 95%;
    }
}
