/*
----------------------------------------------------------------------------
Print stylesheet
----------------------------------------------------------------------------
*/

/*
----------------------------------------------------------------------------
Basic reset.
----------------------------------------------------------------------------
*/
@page {
    margin: 10pt;
}

body {
    color: black; /* Prints faster */
    font-family: sans-serif;
    font-size: 10pt;
}

h1 {
    font-size: 24pt;
}

h2 {
    font-size: 20pt;
}

h3 {
    font-size: 16pt;
}

h4 {
    font-size: 14pt;
}

h5 {
    font-size: 12pt;
}

h6 {
    font-size: 10pt;
    margin: 0;
}

:where(h1, h2, h3, h4, h5, p) {
    margin: 0 0 5pt;
}

:where(th, td) {
    border: 1pt solid grey;
    font-size: 8pt;
    padding: 3pt;
    text-align: initial;
}

a {
    color: inherit;
    text-decoration: underline;

    + a {
        margin: 0 10pt;
    }
}

[href]::after {
    content: '(' attr(href) ')';
}

:where([href='/'], [href='#'], [href^='mailto'], [href^='tel'])::after {
    content: '';
}

:where(table, figure, pre) {
    margin-block-end: 10pt;
    page-break-inside: avoid;
}

:where(h1, h2, h3, h4, h5, h6) {
    page-break-after: avoid;
}

p {
    orphans: 3;
    widows: 3;
}

thead {
    display: table-header-group;
}

/*
----------------------------------------------------------------------------
Specific component styles.
----------------------------------------------------------------------------
*/
[class*='grid'] {
    list-style: none;
    padding: 0;

    > * {
        margin-block: 5pt;
    }
}

/*
----------------------------------------------------------------------------
Hide stuff.
----------------------------------------------------------------------------
*/
:where(img, button, .icon, .skiplinks) {
    display: none;
}
