/*
----------------------------------------------------------------------------
"Primitive" design tokens for dynamic theming.
----------------------------------------------------------------------------
*/
:root {
    --color-brand: oklch(44.03% 0.1603 303.37); /* rebeccapurple */
    --color-neutral: oklch(59.82% 0 0);
    --color-accent-green: oklch(75.14% 0.1603 142.55);
    --color-accent-red: oklch(48.29% 0.1603 26.34);
    --color-accent-yellow: oklch(82.25% 0.1603 96.1742);
    --color-accent-blue: oklch(71.69% 0.1603 226.5552);

    /* Typography. */
    --font-fallback:
        -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
        Cantarell, 'Helvetica Neue', sans-serif;
    --font-family: Arial;
    --font-family-title: robotolight;
    --font-family-monospace:
        Menlo, Monaco, Consolas, 'Droid Sans Mono', 'Courier New', monospace;

    /* Fluid type scale.
    @link https://utopia.fyi/type/calculator?c=480,16,1.25,1440,20,1.333,6,1,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
    --type-step--1: clamp(0.8rem, 0.7311rem + 0.2296vw, 0.9377rem);
    --type-step-0: clamp(1rem, 0.875rem + 0.4167vw, 1.25rem);
    --type-step-1: clamp(1.25rem, 1.0419rem + 0.6938vw, 1.6663rem);
    --type-step-2: clamp(1.5625rem, 1.2332rem + 1.0977vw, 2.2211rem);
    --type-step-3: clamp(1.9531rem, 1.4493rem + 1.6794vw, 2.9607rem);
    --type-step-4: clamp(2.4414rem, 1.6888rem + 2.5088vw, 3.9467rem);
    --type-step-5: clamp(3.0518rem, 1.9472rem + 3.6819vw, 5.2609rem);
    --type-step-6: clamp(3.8147rem, 2.2157rem + 5.3302vw, 7.0128rem);

    /* Fluid space scale. */
    /* @link https://utopia.fyi/space/calculator?c=480,16,1.25,1440,20,1.333,6,1,&s=0.75|0.5,1.5|2|3,s-l&g=s,l,xl,12 */
    /* One-up pairs */
    --webui-space-2xs-xs: clamp(0.5rem, 0.2813rem + 0.7292vw, 0.9375rem);
    --webui-space-xs-s: clamp(0.75rem, 0.5rem + 0.8333vw, 1.25rem);
    --webui-space-s-m: clamp(1rem, 0.5625rem + 1.4583vw, 1.875rem);
    --webui-space-m-l: clamp(1.5rem, 1rem + 1.6667vw, 2.5rem);
    --webui-space-l-xl: clamp(2rem, 1.125rem + 2.9167vw, 3.75rem);
}

@media (prefers-color-scheme: dark) {
    :root {
        /* Define dark mode colours here... */
    }
}
