/*
----------------------------------------------------------------------------
Dependencies.
----------------------------------------------------------------------------
*/
@use '../base' as *;
@use '../mixins' as *;

.accordion {
    &__details {
        overflow: hidden;

        /* stylelint-disable-next-line selector-pseudo-element-no-unknown */
        &::details-content {
            block-size: 0;
            transition: block-size $animation-fast,
                content-visibility $animation-fast;
            /* stylelint-disable-next-line property-no-unknown */
            transition-behavior: allow-discrete;
        }

        /* stylelint-disable-next-line selector-pseudo-element-no-unknown */
        &[open]::details-content {
            block-size: auto;
        }
    }

    &__details + &__details {
        margin-block-start: $gutter-m;
    }

    &__summary {
        @include focus;
        font-family: var(--base-font-family-title);
        font-size: var(--type-step-2);
        line-height: var(--line-height-h4);
        margin-block-end: $gutter-s;
    }

    &--custom-icon {
        .accordion__summary {
            align-items: center;
            border-block-end: $border-width-s solid;
            display: flex;
            justify-content: space-between;
            list-style: none;
            padding-block-end: $gutter-s;

            &::-webkit-details-marker {
                display: none;
            }
        }

        .icon {
            transition: transform $animation-fast;
        }

        [open] {
            .icon {
                transform: rotate(180deg);
            }
        }
    }
}
