/*
----------------------------------------------------------------------------
Dependencies.
----------------------------------------------------------------------------
*/
@use '../base' as *;
@use '../mixins' as *;

.banner {
    --banner-gap: var(--gutter-m);

    display: flex;
    flex-direction: column;
    gap: var(--banner-gap);

    &__media {
        .image {
            @media (prefers-color-scheme: dark) {
                opacity: 1;
                transition: none;
            }
        }
    }

    &__content {
        color: $color-text;
    }

    &--fullwidth {
        .banner__content {
            padding-inline: $gutter-s;
        }

        /* stylelint-disable-next-line order/order */
        @include bp-medium {
            display: grid;
            grid-template-areas: 'fullwidth';
            place-items: center start;

            > * {
                grid-area: fullwidth;
            }

            .banner__content {
                /* stylelint-disable-next-line max-nesting-depth */
                @media (prefers-color-scheme: dark) {
                    --color-text: 0 0% 20%;
                }

                // Example, so text is legible above image.
                background: hsl(var(--color-brand) / 10%);
                inline-size: 40vw;
                margin-inline-start: $gutter-m;
                padding: $gutter-m;
            }
        }
    }

    &__overlay {
        @include bp-medium {
            // Example, so text is legible above image.
            background: linear-gradient(
                to right,
                hsl(var(--color-brand) / 20%),
                transparent
            );
            block-size: 100%;
            inline-size: 50%;
        }

        + .banner__content {
            @include bp-medium {
                /* stylelint-disable-next-line max-nesting-depth */
                @media (prefers-color-scheme: dark) {
                    --color-text: 0 0% 20%;
                }

                background: none;
            }
        }
    }

    // Inline banner uses fullwidth card HTML.
    &--inline {
        align-items: center;

        .card__content {
            --content-min-width: 45%;
        }
    }
}
