/*
----------------------------------------------------------------------------
Dependencies.
----------------------------------------------------------------------------
*/
@use '../base' as *;

.breadcrumb {
    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: var(--gutter-m);
    }

    &__item {
        position: relative;

        &:not(:first-child):before {
            content: '>';
            display: inline-block;
            inline-size: 1ch;
            inset-inline-start: -1em;
            position: absolute;
        }
    }

    &__link {
        color: inherit;

        &:hover {
            text-decoration: none;
        }
    }

    [aria-current] {
        font-weight: bold;
    }
}
