/*
----------------------------------------------------------------------------
Dependencies.
----------------------------------------------------------------------------
*/
@use '../base' as *;

.button {
    background: transparent;
    color: inherit;
    cursor: pointer;
    display: inline-block;
    padding: var(--gutter-s);
    text-decoration: none;

    &:hover {
        opacity: var(--hover-opacity);
    }

    &:active {
        transform: var(--active-transform);
    }

    &:disabled {
        cursor: not-allowed;
        opacity: 0.6;
    }

    &[class*='text'] {
        border: var(--border-width-s) solid;
    }

    &--text-icon {
        align-items: center;
        display: inline-flex;
        gap: var(--gutter-s);
        justify-content: space-between;

        span {
            text-align: start;
        }
    }

    &--reverse {
        flex-direction: row-reverse;
    }

    // Apply colours to button variants.
    &--primary {
        background-color: var(--color-primary);
        color: var(--color-neutral-light);

        &[class*='text'] {
            border-color: var(--color-primary);
        }
    }

    &--secondary {
        color: var(--color-primary);

        &[class*='text'] {
            border-color: var(--color-primary);
        }

        /* stylelint-disable-next-line order/order */
        @media (prefers-color-scheme: dark) {
            color: inherit;
        }
    }

    &--positive {
        background-color: var(--color-success);

        &[class*='text'] {
            border-color: var(--color-success);
        }

        /* stylelint-disable-next-line order/order */
        @media (prefers-color-scheme: dark) {
            color: var(--color-neutral-dark);
        }
    }

    &--negative {
        background-color: var(--color-error);
        color: var(--color-neutral-light);

        &[class*='text'] {
            border-color: var(--color-error);
        }

        /* stylelint-disable-next-line order/order */
        @media (prefers-color-scheme: dark) {
            color: var(--color-neutral-dark);
        }
    }

    &--icon {
        align-items: center;
        display: inline-flex;
        justify-content: center;
    }

    // Text (and text + icons) buttons only. Icon button sizes are determined by the context of their parent container font-size (or their icon size overrides).
    &--small {
        font-size: var(--font-size-s);
        padding: var(--gutter-xs);
    }
}
