/*
----------------------------------------------------------------------------
Dependencies.
----------------------------------------------------------------------------
*/
@use '../base' as *;
@use '../mixins' as *;

.carousel {
    --slide-min-width: 18.75rem;
    --slide-gap: #{$gutter-m};

    @include focus {
        cursor: default;
    }
    display: flex;
    gap: var(--slide-gap, 1rem);
    overflow-x: auto;
    overscroll-behavior-inline: contain;
    scroll-snap-type: inline mandatory;
    /* stylelint-disable-next-line order/properties-alphabetical-order */
    -webkit-overflow-scrolling: touch; // iOS

    &__slide {
        @include focus($inset: true) {
            cursor: default;
        }
        min-inline-size: min(var(--slide-min-width), 100%);
        scroll-snap-align: start;

        &:not([class]) {
            max-inline-size: none;
        }
    }

    &-instructions {
        display: none;

        .carousel:focus-visible ~ & {
            display: block;
        }
    }

    // Fullwidth slides.
    &--fullwidth {
        --slide-gap: 0;

        /* stylelint-disable-next-line no-descending-specificity */
        .carousel__slide {
            min-inline-size: 100%;
        }
    }

    // Clickable slides (e.g. cards, image thumbnails).
    &--has-clickable-slides {
        .carousel__slide > :is(a, button) {
            @include focus($inset: true);
        }
    }
}
