.search {
    .form {
        flex-wrap: wrap;

        &__field {
            flex-grow: 1;
        }
    }

    :is(.form, .form__field) {
        align-items: center;
        flex-direction: row;
    }

    .input {
        flex-basis: 100%;
    }
}
