/*
----------------------------------------------------------------------------
Dependencies.
----------------------------------------------------------------------------
*/
@use '../base' as *;
@use '../mixins' as *;

// Define mixin so tables inside prose content can be styled without requiring CSS class to be added.
@mixin table {
    :is(th, td) {
        border: var(--border-width-s) solid hsl(var(--color-neutral-900) / 10%);
        padding: var(--gutter-m);

        /* stylelint-disable-next-line order/order */
        @media (prefers-color-scheme: dark) {
            border-color: inherit;
        }
    }

    th {
        font-weight: bold;
    }

    caption {
        margin-block-end: var(--gutter-xs);
    }
}

table,
.table {
    @include table;

    // Responsive wrapper.
    &-wrapper[role='region'][tabindex] {
        @include focus {
            cursor: default;
        }
        overflow: auto;
    }
}
