/*
----------------------------------------------------------------------------
Dependencies.
----------------------------------------------------------------------------
*/
@use '../base' as *;

table,
.table {
    :is(th, td) {
        border: var(--border-width-s) solid hsl(var(--color-neutral-900) / 10%);
        padding: var(--gutter-m);

        /* stylelint-disable-next-line order/order */
        @media (prefers-color-scheme: dark) {
            border-color: inherit;
        }
    }

    th {
        font-weight: bold;
    }

    caption {
        margin-block-end: var(--gutter-xs);
    }

    // Responsive wrapper.
    &-wrapper[role='region'][tabindex] {
        overflow: auto;
    }
}
