.accordion__details {
    overflow: hidden;

    /* stylelint-disable-next-line selector-pseudo-element-no-unknown */
    &::details-content {
        block-size: 0;
        transition:
            block-size var(--webui-animation-fast),
            content-visibility var(--webui-animation-fast);
        transition-behavior: allow-discrete;
    }

    /* stylelint-disable-next-line selector-pseudo-element-no-unknown */
    &[open]::details-content {
        block-size: auto;
    }
}

.accordion__details + .accordion__details {
    margin-block-start: var(--webui-gutter-m);
}

.accordion__summary {
    font-family: var(--webui-font-family-title);
    font-size: var(--type-step-2);
    line-height: var(--webui-line-height-h4);
    margin-block-end: var(--webui-gutter-s);
}

.accordion--custom-icon {
    .accordion__summary {
        align-items: center;
        border-block-end: var(--webui-border-width-s) solid;
        display: flex;
        justify-content: space-between;
        list-style: none;
        padding-block-end: var(--webui-gutter-s);

        &::-webkit-details-marker {
            display: none;
        }
    }

    .icon {
        transition: transform var(--webui-animation-fast);
    }

    [open] {
        .icon {
            transform: rotate(180deg);
        }
    }
}
