.banner {
    --content-width: 40vw;
    --mask-width: 80vw;

    flex-direction: column;

    /* TODO: Replace with container query. */
    /* stylelint-disable-next-line order/order */
    @media (width > 48em) {
        display: grid;
        grid-template-areas: 'fullwidth';
        place-items: center start;

        > * {
            grid-area: fullwidth;
        }

        .banner__content {
            inline-size: var(--content-width);
            margin-inline-start: var(--webui-gutter-m);
            padding: var(--webui-gutter-m);
        }

        &:not([data-variant='overlay-mask']) {
            /* stylelint-disable-next-line max-nesting-depth */
            .banner__content {
                /* So text is legible above image. */
                background: var(--webui-color-primary-100);
                color: var(--webui-color-neutral-900);
            }
        }
    }

    &[data-variant='overlay-mask'] {
        .banner__media {
            position: relative;

            /* TODO: Replace with container query. */
            &::after {
                /* stylelint-disable-next-line max-nesting-depth */
                @media (width > 48em) {
                    /* So text is legible above image. */
                    background: linear-gradient(
                        to right,
                        var(--webui-color-primary-100),
                        transparent
                    );
                    content: '';
                    inline-size: var(--mask-width);
                    inset: 0;
                    position: absolute;
                }
            }
        }

        .banner__content {
            isolation: isolate;
        }
    }
}

.banner__media {
    .image {
        @media (prefers-color-scheme: dark) {
            opacity: 1;
            transition: none;
        }
    }
}

/* stylelint-disable-next-line no-descending-specificity */
.banner__content {
    padding-inline: var(--webui-gutter-s);
}
