.breadcrumb {
    [aria-current] {
        color: light-dark(
            var(--webui-color-primary-500),
            var(--webui-color-neutral-100)
        );
        font-weight: bold;
    }

    ol {
        display: flex;
        flex-wrap: wrap;
        gap: var(--webui-gutter-m);
        list-style-type: '';
    }

    li {
        position: relative;

        &:not(:first-child)::before {
            content: '>';
            display: inline-block;
            inline-size: 1ch;
            inset-inline-start: -1em;
            position: absolute;
        }
    }

    a {
        color: inherit;

        &:hover {
            text-decoration: none;
        }
    }
}
