.button {
    background: transparent;
    color: inherit;
    cursor: pointer;
    display: inline-block;
    padding: var(--webui-gutter-s);
    text-decoration: none;

    &:where(:disabled, [aria-disabled='true']) {
        cursor: not-allowed;
        opacity: 0.5;
    }

    &:hover {
        opacity: var(--webui-hover-opacity);
    }

    &:active {
        transform: var(--webui-active-transform);
    }

    /* Button variants. */
    &[data-variant*='text'] {
        border: var(--webui-border-width-m) solid;
    }

    &[data-variant*='text-icon'] {
        align-items: center;
        display: inline-flex;
        gap: var(--webui-gutter-s);
        justify-content: space-between;

        span {
            text-align: start;
        }
    }

    &[data-variant='text-icon-reverse'] {
        flex-direction: row-reverse;
    }

    &[data-variant='icon'] {
        align-items: center;
        display: inline-flex;
        justify-content: center;
    }

    /* Button styles. */
    &[data-style='primary'] {
        background-color: var(--webui-color-primary-500);
        color: var(--webui-color-neutral-100);

        &[class*='text'] {
            border-color: var(--webui-color-primary-500);
        }
    }

    &[data-style='secondary'] {
        color: var(--webui-color-primary-500);
        color: light-dark(
            var(--webui-color-primary-500),
            var(--webui-color-neutral-100)
        );

        &[data-variant*='text'] {
            border-color: light-dark(
                var(--webui-color-primary-500),
                var(--webui-color-primary-100)
            );
        }
    }

    &[data-style='positive'] {
        background-color: var(--webui-color-success-500);
        color: var(--webui-color-neutral-900);

        &[data-variant*='text'] {
            border-color: var(--webui-color-success-500);
        }
    }

    &[data-style='negative'] {
        background-color: var(--webui-color-error-500);
        color: var(--webui-color-neutral-100);

        &[data-variant*='text'] {
            border-color: var(--webui-color-error-500);
        }
    }

    /* Small buttons. Text (and text + icons) buttons only. Icon button sizes are determined by the context of their parent container font-size (or their icon size overrides). */
    &[data-size='small'] {
        font-size: var(--webui-font-size-s);
        padding: var(--webui-gutter-xs);
    }
}
