/* stylelint-disable selector-class-pattern */
.card {
    --card-gap: var(--gutter-m);
    --content-min-width: 50%;
    --image-min-width: 15rem;

    display: flex;
    flex-direction: column;
    gap: var(--card-gap);
    inline-size: clamp(1rem, 100%, 60ch);

    /* Layout approach is same as sidebar layout. */
    &:is([class*='media-inline'], [class*='fullwidth']) {
        flex-wrap: wrap;
        inline-size: auto;

        .card__content {
            flex-basis: 0;
            flex-grow: 999;
            min-inline-size: var(--content-min-width);
        }
    }

    &[class*='fullwidth'] {
        --card-gap: var(--gutter-xl);

        /* Uses <picture> element. Set image to take up % of available space, which allows it to shrink and use the correct source. */
        .card__media {
            flex-basis: max(50% - var(--card-gap), var(--image-min-width));
        }
    }

    /* Clickable card. */
    &[href] {
        text-decoration: none;

        &:hover {
            opacity: var(--hover-opacity);
        }

        &:not([class*='skin']) {
            color: inherit;
        }
    }

    /* Uses stack layout for card__content internal spacing. */
    .stack {
        --stack-gutter: var(--gutter-s);
    }
}

:is(.card--media-inline, .card--fullwidth) {
    flex-direction: row;
    justify-content: flex-start;
}

:is(.card--media-inline-reverse, .card--fullwidth-reverse) {
    flex-direction: row-reverse;
    justify-content: flex-end;
}

/* stylelint-disable-next-line no-descending-specificity */
.card__media {
    flex-grow: 1;
}

.card--media-bottom {
    flex-direction: column-reverse;
}

/* Cards in a grid. */
.card-grid.grid {
    --card-max-width: 25rem; /* Same width as image */
    --grid-item-max-width: max-content;

    > * {
        max-inline-size: var(--card-max-width);
    }
}

/* Cards in a carousel. */
.card-carousel.carousel {
    --slide-min-width: 25rem; /* Same width as image */
}
