.card {
    --content-min-width: 50%;
    --image-min-width: 15rem;

    inline-size: clamp(1rem, 100%, 60ch);

    /* Clickable card (i.e. it's an <a href>). */
    &[href] {
        text-decoration: none;

        &:hover {
            opacity: var(--webui-hover-opacity);
        }

        &:not([class*='skin']) {
            color: inherit;
        }
    }

    /* card__content uses stack layout for internal spacing. */
    .stack {
        --stack-gutter: var(--webui-gutter-s);
    }
}

.card__media {
    flex-grow: 1;
}

/* Media is at the bottom. */
[data-card='media-bottom'] {
    flex-direction: column-reverse;
}

/* Media is inline... */
:is([data-card='media-inline'], [data-card='fullwidth']) {
    flex-direction: row;
    justify-content: flex-start;
}

:is([data-card*='media-inline-reverse'], [data-card*='fullwidth-reverse']) {
    flex-direction: row-reverse;
    justify-content: flex-end;
}

/* ...uses same layout approach as sidebar layout. */
:is([data-card*='media-inline'], [data-card*='fullwidth']) {
    inline-size: auto;

    .card__content {
        flex-basis: 0;
        flex-grow: 999;
        min-inline-size: var(--content-min-width);
    }
}

[data-card*='fullwidth'] {
    --card-gap: var(--webui-gutter-xl);

    /* Uses <picture> element. Set image to take up % of available space, which allows it to shrink and use the correct source. */
    .card__media {
        flex-basis: max(50% - var(--card-gap), var(--image-min-width));
    }
}

/* Cards in a grid. */
.card-grid.grid {
    --card-max-width: 25rem; /* Same width as image */
    --grid-item-max-width: max-content;

    > * {
        max-inline-size: var(--card-max-width);
    }
}

/* Cards in a carousel. */
.card-carousel.carousel {
    --slide-min-width: 25rem; /* Same width as image */
}
