.carousel {
    --slide-min-width: 18.75rem;
    --slide-gap: var(--webui-gutter-m);

    display: flex;
    gap: var(--slide-gap, 1rem);
    -webkit-overflow-scrolling: touch; /* iOS */
    overflow-x: auto;
    overscroll-behavior-inline: contain;
    scroll-snap-type: inline mandatory;

    &:focus-visible {
        box-shadow: var(--webui-focus-shadow);
        outline: var(--webui-focus-outline);
    }

    &:focus:not(:focus-visible) {
        outline: var(--webui-focus-outline);
    }

    /* Fullwidth slides. */
    &[data-variant='fullwidth-slides'] {
        --slide-gap: 0;

        .carousel__slide {
            min-inline-size: 100%;
        }
    }

    /* Clickable slides (e.g. cards, image thumbnails). */
    &[data-variant='clickable-slides'] {
        .carousel__slide > :where(a, button) {
            &:focus-visible {
                box-shadow: inset var(--webui-focus-shadow);
            }
        }

        .carousel__slide > a {
            display: block;
        }
    }
}

/* stylelint-disable-next-line no-descending-specificity */
.carousel__slide {
    min-inline-size: min(var(--slide-min-width), 100%);
    scroll-snap-align: start;

    /* stylelint-disable-next-line no-descending-specificity */
    &:not([class]) {
        max-inline-size: none;
    }
}

.carousel__instructions {
    display: none;

    .carousel:focus-visible ~ & {
        display: block;
    }
}
