.carousel {
    --slide-min-width: 18.75rem;
    --slide-gap: var(--webui-gutter-m);

    display: flex;
    gap: var(--slide-gap, 1rem);
    -webkit-overflow-scrolling: touch; /* iOS */
    overflow-x: scroll;
    overscroll-behavior-inline: contain;
    scroll-snap-type: inline mandatory;

    &:focus-visible {
        box-shadow: var(--webui-focus-shadow);
        outline: var(--webui-focus-outline);
    }

    &:focus:not(:focus-visible) {
        outline: var(--webui-focus-outline);
    }
}

.carousel__slide {
    container-name: carousel;
    container-type: scroll-state;
    min-inline-size: min(var(--slide-min-width), 100%);
    scroll-snap-align: start;

    &:not([class]) {
        max-inline-size: none;
    }

    /* stylelint-disable-next-line order/order */
    @supports (container-type: scroll-state) {
        /* TODO: This doesn't work as expected. */
        @container carousel scroll-state(snapped: inline) {
            box-shadow: inset 0 0 0 var(--webui-border-width-l)
                var(--webui-color-primary-500);
        }
    }
}

.carousel__instructions {
    display: none;

    .carousel:focus-visible ~ & {
        display: block;
    }
}

/* Fullwidth slides. */
[data-carousel='fullwidth-slides'] {
    --slide-gap: 0;

    .carousel__slide {
        min-inline-size: 100%;
    }
}

/* Clickable slides (e.g. cards, image thumbnails). */
[data-carousel='clickable-slides'] {
    .carousel__slide > a {
        display: block;
    }
}
