.carousel {
    --slide-min-width: 18.75rem;
    --slide-gap: var(--webui-gutter-m);

    display: flex;
    gap: var(--slide-gap, 1rem);
    -webkit-overflow-scrolling: touch; /* iOS */
    overflow-x: auto;
    overscroll-behavior-inline: contain;
    scroll-snap-type: inline mandatory;

    &:focus-visible {
        box-shadow: var(--webui-focus-shadow);
        outline: var(--webui-focus-outline);
    }

    &:focus:not(:focus-visible) {
        outline: var(--webui-focus-outline);
    }
}

.carousel__slide {
    min-inline-size: min(var(--slide-min-width), 100%);
    scroll-snap-align: start;

    &:not([class]) {
        max-inline-size: none;
    }
}

.carousel-instructions {
    display: none;

    .carousel:focus-visible ~ & {
        display: block;
    }
}

/* Fullwidth slides. */
.carousel--fullwidth {
    --slide-gap: 0;

    /* stylelint-disable-next-line no-descending-specificity */
    .carousel__slide {
        min-inline-size: 100%;
    }
}

/* Clickable slides (e.g. cards, image thumbnails). */
.carousel--has-clickable-slides {
    .carousel__slide > :where(a, button) {
        &:focus-visible {
            box-shadow: inset var(--webui-focus-shadow);
        }
    }
}
