.color-scheme-toggle {
    /* Styles... */
}

html:has(.color-scheme-toggle [value='light']:checked) {
    color-scheme: light;
}

html:has(.color-scheme-toggle [value='dark']:checked) {
    color-scheme: dark;
}

body:has(.color-scheme-toggle) {
    transition:
        background-color var(--webui-animation-slow),
        color var(--webui-animation-slow);
}
