.image-gallery {
    &.grid {
        --grid-auto-layout: auto-fill;
    }

    [command='show-modal'] {
        padding: unset;
    }

    .modal__dialog[open] {
        display: grid;
        grid-template-areas: 'modal';
        padding: var(--gutter-s);
        place-items: start end;
    }

    .modal__header,
    .modal__content {
        grid-area: modal;
    }

    .modal__header {
        background: transparent;
        padding-block-start: 0;
        z-index: var(--z-default);
    }

    .modal__content {
        margin-block-start: 0;
    }

    .modal__close {
        margin: var(--gutter-s);
    }
}
