/* Cannot use existing CSS variables defined on :root element for ::backdrop. See https://stackoverflow.com/questions/58818299/css-variables-not-working-in-dialogbackdrop */
::backdrop {
    --webui-color-backdrop: oklch(0% 0 0 / 80%);
}

/* Browser already applies "position: fixed" and "width: fit-content". */
dialog {
    background: light-dark(
        var(--webui-color-neutral-100),
        var(--webui-color-neutral-700)
    );
    margin: auto;
    padding: 0 var(--webui-gutter-m) var(--webui-gutter-m);

    &::backdrop {
        background-color: var(--webui-color-backdrop);
        pointer-events: none; /* So click outside works */
    }

    /* stylelint-disable-next-line order/order */
    @media (forced-colors: active) {
        background-color: CanvasText;
        color: Canvas;
    }
}

.modal__header {
    background: light-dark(
        var(--webui-color-neutral-100),
        var(--webui-color-neutral-700)
    );
    display: flex;
    justify-content: flex-end;
    padding-block-start: var(--webui-gutter-m);

    /* stylelint-disable-next-line order/order */
    @media (forced-colors: active) {
        background-color: CanvasText;
        color: Canvas;
    }
}

.modal__content {
    margin-block-start: var(--webui-gutter-m);

    &:focus-visible {
        box-shadow: inset var(--webui-focus-shadow);
        outline: var(--webui-focus-outline);
    }

    &:focus:not(:focus-visible) {
        outline: var(--webui-focus-outline);
    }
}

/* Hide overflow on <body> when modal is open. */
body:has(dialog[open]) {
    overflow: hidden;
}

body:not(:has(dialog[open])) {
    overflow: initial;
}
