.nav {
    [aria-current] {
        color: light-dark(
            var(--webui-color-primary-500),
            var(--webui-color-neutral-100)
        );
        font-weight: bold;
    }
}

.nav__list {
    column-gap: var(--webui-gutter-xl);
    display: flex;
    flex-wrap: wrap;
    row-gap: var(--webui-gutter-xs);
}

.nav__link {
    color: inherit;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

/* Disclosure navigation (with dropdowns). */
.nav--disclosure {
    > .nav__list {
        align-items: center;
    }

    .icon {
        transition: transform var(--webui-animation-fast);
    }
}

.nav__list--dropdown {
    /* background-color: var(--webui-color-neutral-100); */
    background-color: light-dark(
        var(--webui-color-neutral-100),
        var(--webui-color-neutral-900)
    );
    border: var(--webui-border-width-s) solid;
    flex-direction: column;
    inset-block-start: 100%;
    inset-inline-start: 0;
    padding: var(--webui-gutter-m);
    position: absolute;
    z-index: var(--webui-z-popup);
}

.nav__item--has-dropdown {
    align-items: center;
    display: flex;
    gap: var(--webui-gutter-xs);
    position: relative;

    [aria-expanded='true'] {
        .icon {
            transform: rotate(180deg);
        }
    }

    .button {
        padding: var(--webui-gutter-xs);
    }
}

/* Hamburger navigation. */
.nav--hamburger__button {
    &[aria-expanded='false'] {
        .icon:last-of-type {
            display: none;
        }
    }

    &[aria-expanded='true'] {
        .icon:first-of-type {
            display: none;
        }
    }
}

.nav--hamburger {
    position: relative;

    .nav__list {
        flex-direction: column;
    }

    /* Using <webui-disclosure> custom element. */
    webui-disclosure:defined {
        .nav__list {
            background-color: light-dark(
                var(--webui-color-neutral-100),
                var(--webui-color-neutral-900)
            );
            border: var(--webui-border-width-s) solid;
            inset-block-start: 100%;
            padding: var(--webui-gutter-m);
            position: absolute;
            z-index: var(--webui-z-popup);
        }
    }

    /* Hamburger with disclosure navigation. */
    &.nav--disclosure {
        webui-disclosure:defined {
            .nav__item--has-dropdown {
                display: revert;
            }

            .nav__list--dropdown {
                border: 0;
                position: relative;
            }
        }
    }
}
