.nav {
    [aria-current] {
        color: light-dark(
            var(--webui-color-primary-500),
            var(--webui-color-neutral-100)
        );
        font-weight: bold;
    }

    a {
        color: inherit;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

.nav__list {
    column-gap: var(--webui-gutter-xl);
    row-gap: var(--webui-gutter-xs);
}

/* Nav item that contains dropdown list. */
[data-nav-item-dropdown] {
    align-items: center;
    display: flex;
    gap: var(--webui-gutter-xs);
    position: relative;

    webui-popover {
        position: static;

        [popover] {
            inset-inline-start: revert;
        }
    }

    :where(:has([popover]:not(:popover-open))) {
        .nav__list {
            display: none;
        }
    }

    :where(:has([popover]:popover-open), [aria-expanded='true']) {
        .icon {
            transform: rotate(180deg);
        }
    }

    .button {
        padding: var(--webui-gutter-xs);
    }
}

/* Dropdown list. */
[data-nav-list-dropdown] {
    flex-direction: column;
    inset-block-start: 100%;
    inset-inline-start: 0;
    position: absolute;
    z-index: 1; /* Needed when popover API falls back to using <webui-disclosure>. */
}

/* Navigation with dropdown lists. */
[data-nav*='dropdown'] {
    > .nav__list {
        align-items: center;
    }

    /* stylelint-disable-next-line no-descending-specificity */
    .icon {
        transition: transform var(--webui-animation-fast);
    }
}

/* Popovers: define multiple anchors for dropdown lists. */
webui-popover {
    [popovertarget='dropdown1'] {
        anchor-name: --dropdown1;
    }

    [popovertarget='dropdown2'] {
        anchor-name: --dropdown2;
    }

    [id='dropdown1'] {
        inset-block-start: anchor(--dropdown1 bottom);
    }

    [id='dropdown2'] {
        inset-block-start: anchor(--dropdown2 bottom);
    }
}

/* Hamburger navigation. */
[data-nav*='hamburger'] {
    .nav__list {
        flex-direction: column;
    }

    /* 1. Native popover API. */
    &:has([popover]:popover-open) {
        .nav__hamburger-button {
            .icon:first-of-type {
                display: none;
            }
        }
    }

    &:has([popover]:not(:popover-open)) {
        .nav__list {
            display: none;
        }

        .nav__hamburger-button {
            .icon:last-of-type {
                display: none;
            }
        }
    }

    /* 2. Fallback using <webui-disclosure> functionality. */
    .nav__hamburger-button {
        &[aria-expanded='false'] {
            /* stylelint-disable-next-line no-descending-specificity */
            .icon:last-of-type {
                display: none;
            }
        }

        &[aria-expanded='true'] {
            /* stylelint-disable-next-line no-descending-specificity */
            .icon:first-of-type {
                display: none;
            }
        }
    }
}

/* Hamburger with nested dropdown lists. */
[data-nav='hamburger-dropdown'] {
    webui-disclosure:defined {
        [data-nav-item-dropdown] {
            display: revert;
        }

        [data-nav-list-dropdown] {
            border: 0;
            position: relative;
        }
    }
}
