.pagination {
    [aria-current] {
        background-color: var(--webui-color-primary-500);
        border-color: light-dark(
            var(--webui-color-primary-500),
            var(--webui-color-neutral-100)
        );
        color: var(--webui-color-neutral-100);
        font-weight: bold;
    }
}

.pagination__list {
    --flex-gap: var(--gutter-xs);

    align-items: center;
    justify-content: center;
}
