.search {
    :where(.form, .form__field) {
        align-items: center;
        flex-direction: row;
    }

    &:has(:valid:required, :invalid:required) .label {
        padding-inline-start: 0;

        &::after {
            content: '';
        }
    }
}
