.skiplinks {
    position: absolute;

    a {
        background-color: var(--webui-color-primary-500);
        color: var(--webui-color-neutral-300);
        display: inline-block;
        left: var(--webui-gutter-m);
        min-inline-size: 10vw;
        padding: var(--webui-gutter-s);
        text-align: center;
    }
}
