.skiplinks {
    position: absolute;
}

.skiplinks__link {
    background-color: var(--webui-color-primary-500);
    color: var(--webui-color-neutral-300);
    display: inline-block;
    left: var(--gutter-m);
    min-inline-size: 10vw;
    padding: var(--gutter-s);
    text-align: center;
    z-index: var(--z-default);
}
