table,
.table {
    :is(th, td) {
        border: var(--border-width-s) solid;
        padding: var(--gutter-m);
    }

    th {
        font-weight: bold;
    }

    caption {
        margin-block-end: var(--gutter-xs);
    }
}

/* Responsive wrapper. */
.table-wrapper[role='region'][tabindex] {
    overflow: auto;
}
