table,
.table {
    :is(th, td) {
        border: var(--border-width-s) solid;
        padding: var(--gutter-m);

        /* stylelint-disable-next-line order/order */
        @media (prefers-color-scheme: dark) {
            border-color: inherit;
        }
    }

    th {
        font-weight: bold;
    }

    caption {
        margin-block-end: var(--gutter-xs);
    }
}

/* Responsive wrapper. */
.table-wrapper[role='region'][tabindex] {
    overflow: auto;
}
