table,
.table {
    :is(th, td) {
        border: var(--webui-border-width-s) solid;
        padding: var(--webui-gutter-m);
    }

    th {
        font-weight: bold;
    }

    caption {
        margin-block-end: var(--webui-gutter-xs);
    }
}

/* Responsive container. */
.table-container[role='region'][tabindex] {
    overflow: auto;
}
