/*
----------------------------------------------------------------------------
Dependencies.
----------------------------------------------------------------------------
*/
@use '../mixins' as *;
@use '../base' as *;

.fieldset {
    display: flex;
    flex-direction: column;
    gap: $gutter-s;
}
