/*
----------------------------------------------------------------------------
Dependencies.
----------------------------------------------------------------------------
*/
@use '../base' as *;

.form {
    display: flex;
    flex-direction: column;
    gap: var(--gutter-m);

    &__field {
        display: flex;
        flex-direction: column;
        gap: var(--gutter-xs);

        // Native HTML5 validation, and errors rendered directly in HTML, or via JavaScript.
        &:has(:valid:required),
        &:has(:user-invalid:required),
        &--has-error {
            :is(.label, .checkbox__label, .radio__label) {
                padding-inline-end: var(--gutter-m);
                position: relative;

                /* stylelint-disable-next-line max-nesting-depth, no-descending-specificity */
                &::after {
                    color: var(--color-error);
                    content: '!';
                    display: block;
                    font-size: 1em;
                    font-weight: bold;
                    inset-block-start: 0;
                    inset-inline-end: 0;
                    position: absolute;
                }
            }
        }

        &:has(:valid:required) {
            :is(.label, .checkbox__label, .radio__label) {
                /* stylelint-disable-next-line max-nesting-depth */
                &::after {
                    color: var(--color-success);
                    content: '✓';
                }
            }
        }
    }

    // Errors rendered directly in HTML, or via JavaScript.
    &__error {
        color: var(--color-error);
    }

    &__field--has-error {
        &:has(:valid) {
            .form__error {
                display: none;
            }
        }
    }
}

// Basic form component styles.
:is(.input, .select, .textarea) {
    border: var(--border-width-s) solid;
    padding: var(--gutter-s);

    &:focus-visible {
        box-shadow: var(--focus-shadow);
        outline: var(--focus-outline);
    }

    &:focus:not(:focus-visible) {
        outline: var(--focus-outline);
    }

    &:hover:not(:disabled) {
        background-color: hsl(var(--color-brand) / 10%);
    }

    // Native HTML5 validation.
    &:valid:required {
        background-color: hsl(var(--color-success) / 10%);
        border-color: var(--color-success);
        border-width: var(--border-width-m);
    }

    &:user-invalid:required {
        background-color: hsl(var(--color-error) / 10%);
        border-color: var(--color-error);
        border-width: var(--border-width-m);
    }

    // ARIA.
    &[aria-invalid='true'] {
        background-color: hsl(var(--color-error) / 10%);
        border-color: var(--color-error);
        border-width: var(--border-width-m);
    }
}

.message--error {
    + .form {
        margin-block-start: var(--gutter-m);
    }
}
