/*
----------------------------------------------------------------------------
Dependencies.
----------------------------------------------------------------------------
*/
// @use '../mixins' as *;
@use '../base' as *;

.label {
    display: block;

    &__hint {
        display: block;
        font-size: var(--type-step--1);
    }
}
