/* stylelint-disable selector-class-pattern */
.checkbox {
    align-items: center;
    display: flex;
    gap: var(--gutter-s);
}

.checkbox__input {
    block-size: 1.5em;
    inline-size: 1.5em;

    &:invalid:required:focus {
        box-shadow: 0 0 0 var(--border-width-m) var(--color-error-500);
    }
}
