.form {
    display: flex;
    flex-direction: column;
    gap: var(--webui-gutter-m);
}

.form__field {
    display: flex;
    flex-direction: column;
    gap: var(--webui-gutter-xs);

    /* Native HTML5 validation, and errors rendered directly in HTML, or via JavaScript. */
    &:has(:valid:required),
    &:has(:user-invalid:required),
    &.form__field--has-error {
        :where(.label, .checkbox__label, .radio__label) {
            padding-inline-start: var(--webui-gutter-l);
            position: relative;

            /* stylelint-disable-next-line no-descending-specificity */
            &::after {
                background-color: var(--webui-color-error-500);
                border-radius: 50%;
                color: var(--webui-color-neutral-100);
                content: 'X' / '';
                display: grid;
                font-size: 1em;
                inline-size: 1.5em;
                inset-block-start: 0;
                inset-inline-start: 0;
                place-items: center;
                position: absolute;
            }
        }
    }

    &:has(:valid:required) {
        :where(.label, .checkbox__label, .radio__label) {
            &::after {
                background-color: var(--webui-color-success-500);
                content: '✓' / '';
            }
        }
    }
}

/* Errors rendered directly in HTML, or via JavaScript. */
.form__error {
    background: var(--webui-color-error-500);
    color: var(--webui-color-neutral-100);
    padding-inline: var(--webui-gutter-xs);
}

.form__field--has-error {
    &:has(:valid) {
        .form__error {
            display: none;
        }
    }
}

/* Basic form component styles. */
:where(.input, .select, .textarea) {
    border: var(--webui-border-width-s) solid;
    padding: var(--webui-gutter-s);

    &:focus-visible {
        box-shadow: var(--webui-focus-shadow);
        outline: var(--webui-focus-outline);
    }

    &:focus:not(:focus-visible) {
        outline: var(--webui-focus-outline);
    }

    &:hover:not(:disabled):not(:focus-visible) {
        background-color: var(--webui-color-primary-100);
    }

    /* Native HTML5 validation. */
    &:valid:required {
        background-color: var(--webui-color-success-100);
        border-color: var(--webui-color-success-500);
        border-width: var(--webui-border-width-m);
    }

    &:user-invalid:required {
        background-color: var(--webui-color-error-100);
        border-color: var(--webui-color-error-500);
        border-width: var(--webui-border-width-m);
    }

    /* ARIA. */
    &[aria-invalid='true'] {
        background-color: var(--webui-color-error-100);
        border-color: var(--webui-color-error-500);
        border-width: var(--webui-border-width-m);
    }
}

.message--error {
    + .form {
        margin-block-start: var(--webui-gutter-m);
    }
}
