.radio {
    --flex-gap: var(--webui-gutter-s);

    [type='radio'] {
        block-size: 1.5em;
        inline-size: 1.5em;

        &:invalid:required:focus {
            box-shadow: 0 0 0 var(--webui-border-width-m)
                var(--webui-color-error-500);
        }
    }
}
