/*
----------------------------------------------------------------------------
Apply skin (or "theming" layer) to components.
----------------------------------------------------------------------------
*/

/* Define new layer to ensure 'skin' has highest specificity (excluding any overrides applied in the 'utilities' layer). */
@layer skin {
    /* Arbitrary styling to demo the concept. */
    .skin-1 {
        border-width: var(--webui-border-width-l);
    }

    .skin-2 {
        border: var(--webui-border-width-l) solid var(--webui-color-neutral-900);
    }

    .skin-3 {
        font-style: italic;

        &::before {
            transform: scaleX(-1);
        }

        &::after {
            display: none;
        }
    }
}
