/*
----------------------------------------------------------------------------
Color settings.

1. Use JSDoc comments to identify all the color 'sections'.
2. The 'sass-export' Node package can then correctly sub-divide all the colors into appropriate groups for Storybook.
----------------------------------------------------------------------------
*/

/**
 * @sass-export-section="main theme colours"
 */

$color-brand: #{'rgb(var(--color-brand))'} !default;
$color-text: #{'rgb(var(--color-text))'} !default;
$color-background: #{'rgb(var(--color-background))'} !default;

/**
 * @sass-export-section="neutral colours"
 */

$color-neutral-900: #{'rgb(var(--color-neutral-900))'};
$color-neutral-100: #{'rgb(var(--color-neutral-100))'};

/**
 * @sass-export-section="other accent colours"
 */

$color-success: #{'rgb(var(--color-accent-positive))'} !default;
$color-error: #{'rgb(var(--color-accent-negative))'} !default;
$color-notify: #{'rgb(var(--color-accent-neutral))'} !default;
$color-focus: #{'rgb(var(--color-focus))'} !default;
