.flex {
    --flex-gap: var(--webui-gutter-m);

    display: flex;
    flex-wrap: wrap;
    gap: var(--flex-gap, 1rem);

    /* When flex uses a UL/LI construct, override LI max-inline-size in 'typography.scss'. */
    > li {
        max-inline-size: none;
    }

    /* Let gap handle spacing between flex items. */
    > * {
        margin: 0;
    }

    /* Flex direction. */
    &[data-direction='row-reverse'] {
        flex-direction: row-reverse;
    }

    &[data-direction='column'] {
        flex-direction: column;
    }

    &[data-direction='column-reverse'] {
        flex-direction: column-reverse;
    }

    /* Align items. */
    &[data-align='center'] {
        align-items: center;
    }

    &[data-align='start'] {
        align-items: flex-start;
    }

    &[data-align='end'] {
        align-items: flex-end;
    }

    /* Justify content. */
    &[data-justify='center'] {
        justify-content: center;
    }

    &[data-justify='end'] {
        justify-content: flex-end;
    }

    &[data-justify='between'] {
        justify-content: space-between;
    }

    &[data-justify='evenly'] {
        justify-content: space-evenly;
    }

    /* Make all flex items grow to fill available space. */
    &[data-grow='true'] > * {
        flex-grow: 1;
    }
}

/* Gap variants. */
[data-flex-gap='0'] {
    --flex-gap: 0;
}

[data-flex-gap='xsmall'] {
    --flex-gap: var(--webui-gutter-xs);
}

[data-flex-gap='small'] {
    --flex-gap: var(--webui-gutter-s);
}

[data-flex-gap='large'] {
    --flex-gap: var(--webui-gutter-l);
}

[data-flex-gap='xlarge'] {
    --flex-gap: var(--webui-gutter-xl);
}
