/* stylelint-disable selector-class-pattern */
/*
----------------------------------------------------------------------------
Stack.

See https://every-layout.dev/layouts/stack/.
----------------------------------------------------------------------------
*/
.stack {
    --stack-gutter: var(--gutter-m);

    > * + * {
        margin-block-start: var(--stack-gutter, 1em);
    }

    > * {
        margin-block-end: 0;
    }
}

.stack--gutter-xs {
    --stack-gutter: var(--gutter-xs);
}

.stack--gutter-s {
    --stack-gutter: var(--gutter-s);
}

.stack--gutter-l {
    --stack-gutter: var(--gutter-l);
}

.stack--gutter-xl {
    --stack-gutter: var(--gutter-xl);
}
