/*
----------------------------------------------------------------------------
Stack.

See https://every-layout.dev/layouts/stack/.
----------------------------------------------------------------------------
*/
[class*='stack'] {
    --stack-gutter: var(--webui-gutter-m);

    > * + * {
        margin-block-start: var(--stack-gutter, 1em);
    }

    > * {
        margin-block-end: 0;
    }
}

.stack--gutter-xs {
    --stack-gutter: var(--webui-gutter-xs);
}

.stack--gutter-s {
    --stack-gutter: var(--webui-gutter-s);
}

.stack--gutter-l {
    --stack-gutter: var(--webui-gutter-l);
}

.stack--gutter-xl {
    --stack-gutter: var(--webui-gutter-xl);
}
