/*
----------------------------------------------------------------------------
Stack.

See https://every-layout.dev/layouts/stack/.
----------------------------------------------------------------------------
*/
.stack {
    --stack-gutter: var(--webui-gutter-m);

    > * + * {
        margin-block-start: var(--stack-gutter, 1em);
    }

    > * {
        margin-block-end: 0;
    }
}

[data-stack-gutter='xsmall'] {
    --stack-gutter: var(--webui-gutter-xs);
}

[data-stack-gutter='small'] {
    --stack-gutter: var(--webui-gutter-s);
}

[data-stack-gutter='large'] {
    --stack-gutter: var(--webui-gutter-l);
}

[data-stack-gutter='xlarge'] {
    --stack-gutter: var(--webui-gutter-xl);
}
