/*
----------------------------------------------------------------------------
Stack.

See https://every-layout.dev/layouts/stack/.
----------------------------------------------------------------------------
*/
[class='stack'] {
    --stack-gutter: var(--webui-gutter-m);

    > * + * {
        margin-block-start: var(--stack-gutter, 1em);
    }

    > * {
        margin-block-end: 0;
    }

    &[data-gutter='xsmall'] {
        --stack-gutter: var(--webui-gutter-xs);
    }

    &[data-gutter='small'] {
        --stack-gutter: var(--webui-gutter-s);
    }

    &[data-gutter='large'] {
        --stack-gutter: var(--webui-gutter-l);
    }

    &[data-gutter='xlarge'] {
        --stack-gutter: var(--webui-gutter-xl);
    }
}
