.wrapper {
    --wrapper-max-width: 64rem;

    margin-inline: auto;
    max-inline-size: var(--wrapper-max-width);
    padding-inline: var(--webui-gutter-m);

    &[data-size='small'] {
        --wrapper-max-width: 48rem;
    }

    &[data-size='large'] {
        --wrapper-max-width: 75rem;
    }

    &[data-size='fullbleed'] {
        --wrapper-max-width: 100vw; /* 100dvi might have performance implications */

        padding-inline: 0;
    }

    &[data-size='fit-content'] {
        --wrapper-max-width: revert;

        inline-size: fit-content;
    }
}
