.wrapper {
    --wrapper-max-width: 64rem;

    margin-inline: auto;
    max-inline-size: var(--wrapper-max-width);
}

[data-wrapper='small'] {
    --wrapper-max-width: 48rem;
}

[data-wrapper='large'] {
    --wrapper-max-width: 75rem;
}

[data-wrapper='fullbleed'] {
    --wrapper-max-width: 100vw; /* 100dvi might have performance implications */
}

[data-wrapper='fit-content'] {
    --wrapper-max-width: revert;

    inline-size: fit-content;
}
