/*
----------------------------------------------------------------------------
Dependencies.
----------------------------------------------------------------------------
*/
@use '../base' as *;

.icon {
    aspect-ratio: 1;
    block-size: 1em; // Scale icon to match font-size of parent element
    fill: currentColor;

    &--small {
        block-size: $icon-size-s;
    }

    &--medium {
        block-size: $icon-size-m;
    }

    &--large {
        block-size: $icon-size-l;
    }
}
