/*
----------------------------------------------------------------------------
Dependencies.
----------------------------------------------------------------------------
*/
@use '../mixins' as *;
@use '../base' as *;

/*
----------------------------------------------------------------------------
Element styles.

No need for font smoothing - see https://ui.dev/rwd/articles/font-smoothing
----------------------------------------------------------------------------
*/

html {
    @include bp-2k {
        font-size: var(--base-font-size-2k);
    }
    @include bp-4k {
        font-size: var(--base-font-size-4k);
    }

    font-size: var(--base-font-size);
}

body {
    font-family: var(--base-font-family);
    font-size: var(--type-step-0);
    line-height: var(--base-line-height);
}

:where(h1, h2, h3, h4, h5, h6, [class*='h--']) {
    font-family: var(--base-font-family-title);
}

.h--xl {
    font-size: var(--type-step-6);
    line-height: var(--line-height-step-6);
    margin-block-end: $gutter-clamp-xl;
}

:where(h1, .h--1) {
    font-size: var(--type-step-5);
    line-height: var(--line-height-step-5);
    margin-block-end: $gutter-clamp-l;
}

:where(h2, .h--2) {
    font-size: var(--type-step-4);
    line-height: var(--line-height-step-4);
    margin-block-end: $gutter-m;
}

:where(h3, .h--3) {
    font-size: var(--type-step-3);
    line-height: var(--line-height-step-3);
    margin-block-end: $gutter-m;
}

:where(h4, .h--4) {
    font-size: var(--type-step-2);
    line-height: var(--line-height-step-2);
    margin-block-end: $gutter-s;
}

:where(h5, .h--5) {
    font-size: var(--type-step-1);
    margin-block-end: $gutter-xs;
}

:where(h6, .h--6) {
    font-size: var(--type-step-0);
    margin-block-end: $gutter-xs;
}

/*
----------------------------------------------------------------------------
Margins on other prose elements.
----------------------------------------------------------------------------
*/
:where(p, :is(ul, ol):not([class])) {
    margin-block-end: $gutter-m;
}

/*
----------------------------------------------------------------------------
Validation styles.
----------------------------------------------------------------------------
*/
.error {
    color: $color-error;
}

.success {
    color: $color-success;
}

/*
----------------------------------------------------------------------------
Miscellaneous styles.
----------------------------------------------------------------------------
*/
:where(:is(p, li):not([class]), dd, small) {
    max-inline-size: var(--type-max-line-length);
}

:is(button, input, select, textarea, datalist, datalist > option) {
    font: inherit;
    line-height: 1;
}

:is(caption, th, td) {
    font-weight: normal;
    text-align: start;
}

address {
    font-style: normal;
}

small {
    font-size: var(--type-step--1);
}

code {
    font-family: var(--base-font-family-monospace);
}
