/*
----------------------------------------------------------------------------
Dependencies.
----------------------------------------------------------------------------
*/
@use '../mixins' as *;
@use '../base' as *;

/*
----------------------------------------------------------------------------
Element styles.

No need for font smoothing - see https://ui.dev/rwd/articles/font-smoothing
----------------------------------------------------------------------------
*/

html {
    @include bp-2k {
        font-size: $base-font-size-2k;
    }
    @include bp-4k {
        font-size: $base-font-size-4k;
    }

    font-size: $base-font-size;
}

body {
    font-family: $base-font-family;
    font-size: var(--step-0);
    line-height: $base-line-height;
}

:where(h1, h2, h3, h4, h5, h6, [class*='h--']) {
    font-family: $base-font-family-title;
}

.h--xl {
    font-size: var(--step-6);
    line-height: $line-height-xl;
    margin-block-end: $gutter-clamp-xl;
}

:where(h1, .h--1) {
    font-size: var(--step-5);
    line-height: $line-height-h1;
    margin-block-end: $gutter-clamp-l;
}

:where(h2, .h--2) {
    font-size: var(--step-4);
    line-height: $line-height-h2;
    margin-block-end: $gutter-m;
}

:where(h3, .h--3) {
    font-size: var(--step-3);
    line-height: $line-height-h3;
    margin-block-end: $gutter-m;
}

:where(h4, .h--4) {
    font-size: var(--step-2);
    line-height: $line-height-h4;
    margin-block-end: $gutter-s;
}

:where(h5, .h--5) {
    font-size: var(--step-1);
    margin-block-end: $gutter-xs;
}

:where(h6, .h--6) {
    font-size: var(--step-0);
    margin-block-end: $gutter-xs;
}

/*
----------------------------------------------------------------------------
Margins on other prose elements.
----------------------------------------------------------------------------
*/
:where(p, :is(ul, ol):not([class])) {
    margin-block-end: $gutter-m;
}

/*
----------------------------------------------------------------------------
Validation styles.
----------------------------------------------------------------------------
*/
.error {
    color: $color-error;
}

.success {
    color: $color-success;
}

/*
----------------------------------------------------------------------------
Miscellaneous styles.
----------------------------------------------------------------------------
*/
:where(:is(p, li):not([class]), dd, small) {
    max-inline-size: $max-line-length;
}

:is(button, input, select, textarea, datalist, datalist > option) {
    font: inherit;
    line-height: 1;
}

:is(caption, th, td) {
    font-weight: normal;
    text-align: start;
}

address {
    font-style: normal;
}

small {
    font-size: $font-size-s;
}

code {
    font-family: $base-font-family-monospace;
}
