.icon {
    aspect-ratio: 1;
    block-size: 1em; /* Scale icon to match font-size of parent element */
    fill: currentColor;
}

[data-icon-size='small'] {
    block-size: var(--webui-icon-size-s);
}

[data-icon-size='medium'] {
    block-size: var(--webui-icon-size-m);
}

[data-icon-size='large'] {
    block-size: var(--webui-icon-size-l);
}
