/* stylelint-disable selector-class-pattern */
.icon {
    aspect-ratio: 1;
    block-size: 1em; /* Scale icon to match font-size of parent element */
    /* stylelint-disable-next-line value-keyword-case */
    fill: currentColor;
}

.icon--small {
    block-size: var(--icon-size-s);
}

.icon--medium {
    block-size: var(--icon-size-m);
}

.icon--large {
    block-size: var(--icon-size-l);
}
