.icon {
    aspect-ratio: 1;
    block-size: 1em; /* Scale icon to match font-size of parent element */
    fill: currentColor;
}

.icon--small {
    block-size: var(--webui-icon-size-s);
}

.icon--medium {
    block-size: var(--webui-icon-size-m);
}

.icon--large {
    block-size: var(--webui-icon-size-l);
}
