/*
----------------------------------------------------------------------------
Reset.

See:
Eric Meyer = https://meyerweb.com/eric/tools/css/reset/
Andy Bell = https://andy-bell.co.uk/a-more-modern-css-reset/
Josh Comeau = https://www.joshwcomeau.com/css/custom-css-reset/
Kilian Valkhof = https://kilianvalkhof.com/2022/css-html/your-css-reset-needs-text-size-adjust-probably/
----------------------------------------------------------------------------
*/
html {
    accent-color: var(--webui-color-primary-500);
    color-scheme: light dark;
    interpolate-size: allow-keywords;

    /* Remove the automatic text size adjustment that is provided by iOS. */
    text-size-adjust: none;
}

:where(*, *::after, *::before) {
    box-sizing: border-box;
}

* {
    background: transparent;
    border: 0;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

:where(html, body) {
    /* Smooth scrolling IF user doesn't have a preference due to motion sensitivities. */
    @media (prefers-reduced-motion: no-preference) {
        scroll-behavior: smooth;
    }

    background-color: light-dark(
        var(--webui-color-neutral-100),
        var(--webui-color-neutral-700)
    );
    color: light-dark(
        var(--webui-color-neutral-900),
        var(--webui-color-neutral-300)
    );
    min-block-size: 100vh; /* 100dvb might have performance implications */
}

:where(ol, ul)[class] {
    list-style-type: '';
}

ol ol {
    list-style-type: lower-alpha;
}

ol ol ol {
    list-style-type: lower-roman;
}

:where(ol, ul):not([class]) {
    padding-inline-start: var(--webui-gutter-l);
}

:where([type='submit'], label, summary) {
    cursor: pointer;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

img {
    @media (prefers-color-scheme: dark) {
        opacity: 0.8;
        transition: opacity var(--webui-animation-slow);

        &:hover {
            opacity: 1;
        }
    }

    block-size: auto; /* Needed for overriding 'height' attribute in HTML */
    display: block;
    max-inline-size: 100%; /* Needed for responsive widths */
}

svg {
    flex-shrink: 0; /* Stop icon shrinking when inside a flex container */
    max-inline-size: 100%;
}

:where(input, textarea, select) {
    color: inherit;
    vertical-align: middle;
}

/* <a> needs to be included here to remove the default tab focus. */
:where(button, a) {
    appearance: none;
    cursor: pointer;
    -webkit-tap-highlight-color: oklch(0% 0 0 / 0%);
}

button {
    > * {
        pointer-events: none;
    }
}

a:not([class]) {
    color: inherit;
    text-decoration-thickness: 0.125rem;
    text-underline-offset: 0.25em;

    &:hover {
        text-decoration: none;
    }
}

:where(sub, sup) {
    vertical-align: revert;
}

iframe {
    border: 0;
    display: block;
    margin: 0 auto;
    max-inline-size: 100%;
}

hr {
    border: var(--webui-border-width-s) solid;
    margin-block: var(--webui-gutter-m);
}

/* :focus. */
:where(a, button, summary, [role='region'][tabindex]) {
    &:focus-visible {
        box-shadow: var(--webui-focus-shadow);
        outline: var(--webui-focus-outline);
    }

    &:focus:not(:focus-visible) {
        outline: var(--webui-focus-outline);
    }
}

summary {
    &:focus-visible {
        box-shadow: inset var(--webui-focus-shadow);
    }
}

/* Anchor targets should have extra scroll margin. Adjust value to account for sticky header/footer, etc. */
:target {
    scroll-margin-block: var(--webui-gutter-xl);
}

/* Remove all animations & transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    * {
        /* stylelint-disable declaration-no-important */
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        scroll-behavior: auto !important;
        transition-duration: 0.01ms !important;
        /* stylelint-enable declaration-no-important */
    }
}
