/*
----------------------------------------------------------------------------
"Primitive" design tokens for dynamic theming.
----------------------------------------------------------------------------
*/
:root {
    --webui-color-brand: 82 39% 30%; /* darkolivegreen */
    --webui-font-family: robotomedium;
    --webui-font-family-title: robotoregular;
}
