/*
----------------------------------------------------------------------------
"Primitive" design tokens for dynamic theming.
----------------------------------------------------------------------------
*/
:root {
    --color-brand: oklch(49.33% 0.0892 126.19); /* darkolivegreen */
    --color-accent-green: oklch(75.14% 0.0892 142.55);
    --color-accent-red: oklch(48.29% 0.0892 26.34);
    --color-accent-yellow: oklch(82.25% 0.0892 96.1742);
    --color-accent-blue: oklch(71.69% 0.0892 226.5552);
    --font-family: robotomedium;
    --font-family-title: robotoregular;
}
