/*
----------------------------------------------------------------------------
"Primitive" design tokens for dynamic theming.
----------------------------------------------------------------------------
*/
:root {
    --webui-color-brand: oklch(49.33% 0.0892 126.19); /* darkolivegreen */
    --webui-font-family: robotomedium;
    --webui-font-family-title: robotoregular;
}
