/*
----------------------------------------------------------------------------
Dependencies.
----------------------------------------------------------------------------
*/
@use '../base' as *;
// @use '../mixins' as *;

webui-share {
    display: inline-block;

    &:not(:defined) {
        display: none;
    }

    [data-content] {
        align-items: center;
        display: flex;
        gap: $gutter-s;
    }
}
