/*
----------------------------------------------------------------------------
Dependencies.
----------------------------------------------------------------------------
*/
@use '../base' as *;

webui-video-player {
    [data-open] {
        display: grid;
        grid-template-areas: 'video';
        inline-size: fit-content;
        place-items: center;

        > * {
            grid-area: video;
        }

        .icon {
            block-size: var(--icon-size-l);
        }
    }

    // Without JS, still show the modal open link so the target opens in the browser window rather than a modal.
    &:not(:defined) {
        webui-modal [data-open] {
            display: inline-block;
        }

        .icon {
            display: none;
        }
    }

    .modal__dialog {
        inline-size: 100%;
    }
}
