/*
----------------------------------------------------------------------------
Dependencies.
----------------------------------------------------------------------------
*/
@use '../mixins' as *;
@use '../base' as *;

:root {
    --slider-height: 0.25rem;
}

@mixin slider-thumb {
    background-color: $color-brand;
    block-size: var(--icon-size-l);
    border: 0;
    border-radius: 50%;
    inline-size: var(--icon-size-l);
}

@mixin slider-track {
    background-color: hsl(var(--color-text) / 20%);
    block-size: var(--slider-height);
}

webui-range-input {
    output {
        margin-inline: auto;
    }
}

[type='range'] {
    appearance: none;
    border: 0;
    padding-inline: 0;

    &::-webkit-slider-thumb {
        @include slider-thumb;
        -webkit-appearance: none;
        margin-block-start: calc(var(--slider-height) * -3);
    }

    &::-webkit-slider-runnable-track {
        @include slider-track;
    }

    &::-moz-range-thumb {
        @include slider-thumb;
    }

    &::-moz-range-track {
        @include slider-track;
    }
}
