/*
----------------------------------------------------------------------------
Dependencies.
----------------------------------------------------------------------------
*/
@use '../base' as *;

webui-image-gallery {
    [data-open] {
        display: block;
    }

    // Without JS, still show the modal open link so the target opens in the browser window rather than a modal.
    &:not(:defined) {
        webui-modal [data-open] {
            display: block;
        }
    }

    .grid {
        --grid-auto-layout: auto-fill;

        > * {
            display: block;
        }
    }

    .modal__dialog[open] {
        display: grid;
        grid-template-areas: 'modal';
        padding: var(--gutter-s);
        place-items: start end;
    }

    .modal__header,
    .modal__content {
        grid-area: modal;
    }

    .modal__header {
        background: transparent;
        padding-block-start: 0;
        z-index: var(--z-default);
    }

    .modal__content {
        margin-block-start: 0;
        z-index: var(--z-reset);
    }

    .modal__close {
        @media (prefers-color-scheme: dark) {
            background: inherit;
        }
        background: var(--color-neutral-light);
        margin: var(--gutter-s);
    }
}
