/*
----------------------------------------------------------------------------
Dependencies.
----------------------------------------------------------------------------
*/
@use '../base' as *;
@use '../mixins' as *;

webui-image-gallery {
    [data-open] {
        @include focus;
        display: block;
    }

    // Without JS, still show the modal open link so the target opens in the browser window rather than a modal.
    &:not(:defined) {
        webui-modal [data-open] {
            display: block;
        }
    }

    .grid {
        --grid-auto-layout: auto-fill;

        > * {
            display: block;
        }
    }

    .modal__dialog[open] {
        display: grid;
        grid-template-areas: 'modal';
        padding: var(--gutter-s);
        place-items: start end;
    }

    .modal__header,
    .modal__content {
        grid-area: modal;
    }

    .modal__header {
        background: transparent;
        padding-block-start: 0;
        z-index: z('default');
    }

    .modal__content {
        margin-block-start: 0;
        z-index: z('reset');
    }

    .modal__close {
        background: $color-neutral-100;
        margin: var(--gutter-s);
    }
}
