/*
----------------------------------------------------------------------------
Dependencies.
----------------------------------------------------------------------------
*/
@use '../base' as *;

webui-notify {
    align-items: flex-start;
    border: var(--border-width-s) solid;
    display: flex;
    justify-content: space-between;
    padding: var(--gutter-m);

    .stack > * {
        max-inline-size: none;
    }

    &[data-success] {
        background: hsl(var(--color-accent-positive) / 15%);
        border-color: $color-success;
    }

    &[data-warning] {
        background: hsl(var(--color-accent-neutral) / 15%);
        border-color: $color-notify;
    }

    &[data-error] {
        background: hsl(var(--color-accent-negative) / 15%);
        border-color: $color-error;
    }

    [data-close] {
        flex-shrink: 0;
        inset-block-start: calc(var(--icon-size-s) * -1);
        inset-inline-end: calc(var(--icon-size-s) * -1);
        position: relative;
    }

    &:not(:defined) {
        [data-close] {
            display: none;
        }
    }
}
