/*
----------------------------------------------------------------------------
Dependencies.
----------------------------------------------------------------------------
*/
@use '../base' as *;
@use '../mixins' as *;

webui-predictive-search {
    &:defined {
        [type='submit'] {
            display: none;
        }
    }

    [role='region'] {
        margin-block-start: var(--gutter-m);
    }

    .grid {
        @include responsive-grid-auto-columns($max-width: 10rem);
    }

    .search__result {
        &__link {
            @include focus;
            color: inherit;
        }
    }
}
