webui-range-input {
    --slider-height: 0.25rem;

    output {
        margin-inline: auto;
    }

    &:defined {
        [type='range'] {
            appearance: none;
            border: 0;
            padding-inline: 0;

            &::-webkit-slider-thumb {
                appearance: none;
            }

            &::-webkit-slider-thumb,
            &::-moz-range-thumb {
                background-color: var(--webui-color-primary-500);
                block-size: var(--webui-icon-size-l);
                border: 0;
                border-radius: 50%;
                inline-size: var(--webui-icon-size-l);
                margin-block-start: calc(var(--slider-height) * -3);
            }

            &::-webkit-slider-runnable-track,
            &::-moz-range-track {
                background-color: var(--webui-color-neutral-500);
                block-size: var(--slider-height);

                /* stylelint-disable-next-line order/order, max-nesting-depth */
                @media (forced-colors: active) {
                    background-color: CanvasText;
                }
            }
        }
    }
}
