webui-popover {
    /* Fallback to <webui-disclosure>. */
    @supports not (anchor-name: none) {
        position: relative;

        [data-content] {
            background-color: light-dark(
                var(--webui-color-neutral-100),
                var(--webui-color-neutral-900)
            );
            border: var(--webui-border-width-s) solid;
            padding: var(--webui-gutter-m);
            position: absolute;
            width: max-content;
        }
    }
}
