webui-carousel {
    .carousel:focus-visible {
        & ~ .carousel-instructions {
            display: none;
        }
    }

    .carousel__slide {
        filter: grayscale(60%);
        opacity: 0.8;

        &:focus-visible {
            box-shadow: inset var(--webui-focus-shadow);
            outline: var(--webui-focus-outline);
        }

        &:focus:not(:focus-visible) {
            outline: var(--webui-focus-outline);
        }
    }

    .is-visible {
        filter: grayscale(0);
        opacity: 1;
    }

    /* Identify current slide (when using PREV|NEXT buttons). */
    .is-current:not(:focus-visible) {
        /* For demo purposes */
        box-shadow: inset 0 0 0 var(--webui-border-width-l)
            var(--webui-color-primary-500);
    }

    .carousel__controls {
        margin-block-end: var(--webui-gutter-m);
    }

    .carousel__counter-pips {
        display: flex;
        flex-wrap: wrap;
        gap: var(--webui-gutter-s);
        margin-block-start: var(--webui-gutter-m);
    }

    .carousel__counter-pip {
        border: var(--webui-border-width-s) solid;
        border-radius: 50%;
        font-size: 0;
        padding: var(--webui-gutter-s);

        &.is-current {
            background-color: var(--webui-color-primary-500);
            color: var(--webui-color-primary-500);
        }
    }
}
