webui-predictive-search {
    &:defined {
        [type='submit'] {
            display: none;
        }

        .form__field {
            align-items: flex-start;
            flex-direction: column;
        }

        .input {
            inline-size: 100%;
        }
    }

    [role='region'] {
        margin-block-start: var(--webui-gutter-m);
    }

    .grid {
        --grid-item-max-width: 10rem;
    }

    .search__result__link {
        color: inherit;
    }
}
