webui-toggle {
    &:not(:defined) {
        display: none;
    }

    [role='switch'] {
        align-items: center;
        border: var(--border-width-s) solid;
        display: inline-flex;
        padding: 0;

        &:active {
            transform: none;
        }
    }

    [aria-checked='false'] {
        .toggle__off {
            background-color: var(--webui-color-neutral-500);
            color: inherit;
        }
    }

    [aria-checked='true'] {
        .toggle__on {
            background-color: var(--webui-color-primary-500);
            color: var(--webui-color-neutral-100);
        }
    }

    :is(.toggle__on, .toggle__off) {
        padding: var(--gutter-s);
    }

    .toggle--has-label {
        border: 0;
        gap: var(--gutter-s);

        .toggle__indicator {
            border: var(--border-width-s) solid;
            display: flex;
        }
    }
}
