webui-share {
    display: inline-block;

    &:not(:defined) {
        display: none;
    }

    [data-content] {
        align-items: center;
        display: flex;
        gap: var(--webui-gutter-s);
    }
}
