webui-carousel {
    .carousel__slide {
        filter: grayscale(60%);
        opacity: 0.8;

        &:focus-visible {
            box-shadow: inset var(--focus-shadow);
            outline: var(--focus-outline);
        }

        &:focus:not(:focus-visible) {
            outline: var(--focus-outline);
        }
    }

    .is-visible {
        filter: grayscale(0);
        opacity: 1;
    }

    /* Identify current slide (when using PREV|NEXT buttons). */
    .is-current:not(:focus-visible) {
        /* For demo purposes */
        box-shadow: inset 0 0 0 var(--border-width-l) var(--color-primary-500);
    }

    .carousel__controls {
        margin-block-end: var(--gutter-m);
    }

    .carousel__counter--pips {
        display: flex;
        flex-wrap: wrap;
        gap: var(--gutter-s);
        margin-block-start: var(--gutter-m);
    }

    .carousel__counter__pip {
        border: var(--border-width-s) solid;
        border-radius: 50%;
        font-size: 0;
        padding: var(--gutter-s);

        &.is-current {
            background-color: var(--color-primary-500);
            color: var(--color-primary-500);
        }
    }
}
