webui-tabs {
    [data-tablist] {
        display: flex;
        flex-direction: column;
        gap: var(--webui-gutter-s);
        margin-block-end: var(--webui-gutter-m);
        overflow-x: auto;
    }

    [data-tab] {
        color: inherit;
        white-space: nowrap;
    }

    &[data-vertical] {
        @container (inline-size >= 40rem) {
            display: grid;
            gap: var(--webui-gutter-m);
            grid-template-areas: 'tabs content';
            grid-template-columns: minmax(auto, 10rem) 1fr;

            [data-tab] {
                white-space: revert;
            }

            /* Roles are added by JavaScript. */
            [role='tablist'] {
                flex-direction: column;
                grid-area: tabs;
                margin: 0;
                overflow-x: revert;
            }

            [role='tabpanel'] {
                grid-area: content;
            }
        }
    }

    /* Roles are added by JavaScript. */
    [role='tablist'] {
        flex-direction: row;
    }

    [role='tab'] {
        background-color: light-dark(
            var(--webui-color-neutral-300),
            var(--webui-color-neutral-900)
        );
        color: light-dark(
            var(--webui-color-neutral-900),
            var(--webui-color-neutral-100)
        );
        padding: var(--webui-gutter-s);
        text-decoration: none;
        transition: background-color var(--webui-animation-fast);

        &:focus-visible {
            box-shadow: inset var(--webui-focus-shadow);
        }

        &[aria-selected='true'] {
            background-color: var(--webui-color-primary-500);
            color: var(--webui-color-neutral-100);

            /* stylelint-disable-next-line order/order */
            @media (forced-colors: active) {
                background-color: CanvasText;
                color: Canvas;
            }
        }
    }

    [role='tabpanel'] {
        &:focus-visible {
            box-shadow: var(--webui-focus-shadow);
            outline: var(--webui-focus-outline);
        }

        &:focus:not(:focus-visible) {
            outline: var(--webui-focus-outline);
        }
    }
}

/* Using container queries for vertical tabs. */
.tabs-container {
    container-type: inline-size;
}
