webui-video-player {
    [command='show-modal'] {
        display: grid;
        grid-template-areas: 'video';
        inline-size: fit-content;
        padding: unset;
        place-items: center;

        > * {
            grid-area: video;
        }

        .icon {
            block-size: var(--webui-icon-size-l);
        }
    }

    dialog {
        inline-size: 100%;
    }
}
