webui-predictive-search {
    &:defined {
        [type='submit'] {
            display: none;
        }

        .input {
            inline-size: 100%;
        }
    }

    [role='region'] {
        margin-block-start: var(--webui-gutter-m);
    }

    .grid {
        --grid-item-max-width: 10rem;
    }
}
