webui-tabs {
    [data-tablist] {
        display: flex;
        flex-direction: column;
        gap: var(--gutter-s);
        margin-block-end: var(--gutter-m);
        overflow-x: auto;
    }

    [data-tab] {
        color: inherit;
        white-space: nowrap;
    }

    &[data-vertical] {
        /* TODO: Replace with container query. */
        @media (width > 48em) {
            display: grid;
            gap: var(--gutter-m);
            grid-template-areas: 'tabs content';
            grid-template-columns: minmax(auto, 10rem) 1fr;

            [data-tab] {
                white-space: revert;
            }

            /* Roles are added by JavaScript. */
            [role='tablist'] {
                flex-direction: column;
                grid-area: tabs;
                margin: 0;
                overflow-x: revert;
            }

            [role='tabpanel'] {
                grid-area: content;
            }
        }
    }

    /* Roles are added by JavaScript. */
    [role='tablist'] {
        flex-direction: row;
    }

    [role='tab'] {
        background-color: var(--color-neutral-light);
        padding: var(--gutter-s);
        text-decoration: none;
        transition: background-color var(--animation-fast);

        &:focus-visible {
            box-shadow: inset var(--focus-shadow);
        }

        &[aria-selected='true'] {
            background-color: var(--color-primary);
            color: var(--color-neutral-light);
        }

        /* stylelint-disable-next-line order/order */
        @media (prefers-color-scheme: dark) {
            background-color: hsl(var(--color-neutral-light) / 30%);

            &[aria-selected='true'] {
                color: inherit;
            }
        }
    }

    [role='tabpanel'] {
        &:focus-visible {
            box-shadow: var(--focus-shadow);
            outline: var(--focus-outline);
        }

        &:focus:not(:focus-visible) {
            outline: var(--focus-outline);
        }
    }
}
