/*
----------------------------------------------------------------------------
Visually hide content but make it available to assistive technologies.
----------------------------------------------------------------------------
*/
.visually-hidden {
    &:not(:focus):not(:active) {
        block-size: 1px;
        clip-path: inset(50%);
        inline-size: 1px;
        overflow: hidden;
        position: absolute;
        white-space: nowrap;
    }
}

/*
----------------------------------------------------------------------------
Display.

The CSS utility class behaves the same as the HTML attrribute.
----------------------------------------------------------------------------
*/
.u-hidden {
    display: none;
}
