/*
----------------------------------------------------------------------------
Center content.
----------------------------------------------------------------------------
*/
.u-center {
    text-align: center;

    /* Setting auto margins on direct children without a CSS classname ensures that typographic elements whose max width is constrained by "--type-max-line-length" will be correctly centered. */
    > :not([class]) {
        margin-inline: auto;
    }
}

/*
----------------------------------------------------------------------------
Margins.
----------------------------------------------------------------------------
*/
[class*='u-m-block'] {
    --marg-block-gutter: var(--gutter-m);

    margin-block: var(--marg-block-gutter, 1rem);
}

[class*='u-m-inline'] {
    --marg-inline-gutter: var(--gutter-m);

    margin-inline: var(--marg-inline-gutter, 1rem);
}

.u-m-block--0 {
    --marg-block-gutter: 0;
}

.u-m-block--xs {
    --marg-block-gutter: var(--gutter-xs);
}

.u-m-block--s {
    --marg-block-gutter: var(--gutter-s);
}

.u-m-block--l {
    --marg-block-gutter: var(--gutter-l);
}

.u-m-block--xl {
    --marg-block-gutter: var(--gutter-xl);
}

.u-m-inline--0 {
    --marg-inline-gutter: 0;
}

.u-m-inline--xs {
    --marg-inline-gutter: var(--gutter-xs);
}

.u-m-inline--s {
    --marg-inline-gutter: var(--gutter-s);
}

.u-m-inline--l {
    --marg-inline-gutter: var(--gutter-l);
}

.u-m-inline--xl {
    --marg-inline-gutter: var(--gutter-xl);
}

/*
----------------------------------------------------------------------------
Padding.
----------------------------------------------------------------------------
*/
[class*='u-p-block'] {
    --pad-block-gutter: var(--gutter-m);

    padding-block: var(--pad-block-gutter, 1rem);
}

[class*='u-p-inline'] {
    --pad-inline-gutter: var(--gutter-m);

    padding-inline: var(--pad-inline-gutter, 1rem);
}

.u-p-block--0 {
    --pad-block-gutter: 0;
}

.u-p-block--xs {
    --pad-block-gutter: var(--gutter-xs);
}

.u-p-block--s {
    --pad-block-gutter: var(--gutter-s);
}

.u-p-block--l {
    --pad-block-gutter: var(--gutter-l);
}

.u-p-block--xl {
    --pad-block-gutter: var(--gutter-xl);
}

.u-p-inline--0 {
    --pad-inline-gutter: 0;
}

.u-p-inline--xs {
    --pad-inline-gutter: var(--gutter-xs);
}

.u-p-inline--s {
    --pad-inline-gutter: var(--gutter-s);
}

.u-p-inline--l {
    --pad-inline-gutter: var(--gutter-l);
}

.u-p-inline--xl {
    --pad-inline-gutter: var(--gutter-xl);
}
