/*
----------------------------------------------------------------------------
Center content.
----------------------------------------------------------------------------
*/
.u-center {
    text-align: center;

    /* Setting auto margins on direct children without a CSS classname ensures that typographic elements whose max width is constrained by "--webui-type-max-line-length" will be correctly centered. */
    > :not([class]) {
        margin-inline: auto;
    }
}

/*
----------------------------------------------------------------------------
Margins.
----------------------------------------------------------------------------
*/
[class*='u-m-block'] {
    --m-block: var(--webui-gutter-m);

    margin-block: var(--m-block, 1rem);
}

[class*='u-m-inline'] {
    --m-inline: var(--webui-gutter-m);

    margin-inline: var(--m-inline, 1rem);
}

.u-m-block--0 {
    --m-block: 0;
}

.u-m-block--xs {
    --m-block: var(--webui-gutter-xs);
}

.u-m-block--s {
    --m-block: var(--webui-gutter-s);
}

.u-m-block--l {
    --m-block: var(--webui-gutter-l);
}

.u-m-block--xl {
    --m-block: var(--webui-gutter-xl);
}

.u-m-inline--0 {
    --m-inline: 0;
}

.u-m-inline--xs {
    --m-inline: var(--webui-gutter-xs);
}

.u-m-inline--s {
    --m-inline: var(--webui-gutter-s);
}

.u-m-inline--l {
    --m-inline: var(--webui-gutter-l);
}

.u-m-inline--xl {
    --m-inline: var(--webui-gutter-xl);
}

/*
----------------------------------------------------------------------------
Padding.
----------------------------------------------------------------------------
*/
[class*='u-p-block'] {
    --p-block: var(--webui-gutter-m);

    padding-block: var(--p-block, 1rem);
}

[class*='u-p-inline'] {
    --p-inline: var(--webui-gutter-m);

    padding-inline: var(--p-inline, 1rem);
}

.u-p-block--0 {
    --p-block: 0;
}

.u-p-block--xs {
    --p-block: var(--webui-gutter-xs);
}

.u-p-block--s {
    --p-block: var(--webui-gutter-s);
}

.u-p-block--l {
    --p-block: var(--webui-gutter-l);
}

.u-p-block--xl {
    --p-block: var(--webui-gutter-xl);
}

.u-p-inline--0 {
    --p-inline: 0;
}

.u-p-inline--xs {
    --p-inline: var(--webui-gutter-xs);
}

.u-p-inline--s {
    --p-inline: var(--webui-gutter-s);
}

.u-p-inline--l {
    --p-inline: var(--webui-gutter-l);
}

.u-p-inline--xl {
    --p-inline: var(--webui-gutter-xl);
}
