/*
----------------------------------------------------------------------------
Center content.
----------------------------------------------------------------------------
*/
.u-center {
    text-align: center;

    /* Setting auto margins on direct children without a CSS classname ensures that typographic elements whose max width is constrained by "--webui-type-max-line-length" will be correctly centered. */
    > :not([class]) {
        margin-inline: auto;
    }
}
