/*
----------------------------------------------------------------------------
Dependencies.
----------------------------------------------------------------------------
*/
// @use '../mixins' as *;
@use '../base' as *;

/*
----------------------------------------------------------------------------
Give affordance of "clickability" to a component/content.
----------------------------------------------------------------------------
*/
webui-make-clickable {
    &:defined {
        display: inline-block;

        &:hover {
            cursor: pointer;

            :hover {
                text-decoration: none;
            }
        }

        // Visible focus state only if 'data-url' link receives keyboard focus.
        &:focus-within {
            &:has([data-url]:focus-visible) {
                box-shadow: 0 0 0 $border-width-l $color-focus;
                outline: $border-width-l solid transparent; // So high contrast mode works.
            }
        }

        // Remove focus styles on "data-url" link inside.
        [data-url]:focus-visible {
            box-shadow: none;
            outline: none;
        }
    }
}
