/*
----------------------------------------------------------------------------
Dependencies.
----------------------------------------------------------------------------
*/
@use '../base' as *;
@use '../mixins' as *;

webui-notification {
    align-items: flex-start;
    border: $border-width-s solid;
    display: flex;
    justify-content: space-between;
    padding: $gutter-m;

    .stack > * {
        max-inline-size: none;
    }

    &[data-success] {
        background: hsl(var(--color-accent-positive) / 15%);
        border-color: $color-success;
    }

    &[data-warning] {
        background: hsl(var(--color-accent-neutral) / 15%);
        border-color: $color-notify;
    }

    &[data-error] {
        background: hsl(var(--color-accent-negative) / 15%);
        border-color: $color-error;
    }

    [data-close] {
        // font-size: $icon-size-s;
        flex-shrink: 0;
        inset-block-start: calc($icon-size-s * -1);
        inset-inline-end: calc($icon-size-s * -1);
        position: relative;
    }
}
