/*
----------------------------------------------------------------------------
Dependencies.
----------------------------------------------------------------------------
*/
@use '../base' as *;
@use '../mixins' as *;

webui-tabs {
    [data-tablist] {
        display: flex;
        flex-direction: column;
        gap: $gutter-m;
        margin-block-end: $gutter-m;
        overflow-x: auto;
    }

    [data-tab] {
        color: inherit;
        white-space: nowrap;
    }

    &[data-vertical] {
        @include bp-medium {
            display: grid;
            gap: $gutter-m;
            grid-template-areas: 'tabs content';
            grid-template-columns: minmax(auto, 10rem) 1fr;

            [role='tablist'] {
                flex-direction: column;
                grid-area: tabs;
                margin: 0;
                overflow-x: revert;
            }

            [role='tab'] {
                border-block-end: 0;
                border-inline-end: $border-width-l solid $color-neutral-100;
                padding-inline-end: $gutter-xs;
            }

            [role='tabpanel'] {
                grid-area: content;
            }

            [data-tab] {
                white-space: revert;
            }
        }
    }

    // Roles are added by JavaScript.
    [role='tablist'] {
        flex-direction: row;
    }

    [role='tab'] {
        @include focus($inset: true);
        border-block-end: $border-width-l solid $color-neutral-100;
        text-decoration: none;
        transition: border $animation-fast;

        &[aria-selected='true'] {
            border-color: $color-brand;
            color: $color-brand;
        }

        /* stylelint-disable-next-line order/order */
        @if $allow-dark-mode {
            @media (prefers-color-scheme: dark) {
                border-color: hsl(var(--color-neutral-100) / 50%);
                color: hsl(var(--color-neutral-100) / 50%);

                /* stylelint-disable max-nesting-depth */
                &[aria-selected='true'] {
                    border-color: inherit;
                    color: inherit;
                }
                /* stylelint-enable max-nesting-depth */
            }
        }
    }

    [role='tabpanel'] {
        @include focus;
    }
}
