/*
----------------------------------------------------------------------------
Dependencies.
----------------------------------------------------------------------------
*/
@use '../base' as *;
// @use '../mixins' as *;

webui-toggle {
    [role='switch'] {
        align-items: center;
        border: $border-width-s solid;
        display: inline-flex;
        padding: 0;

        &:active {
            transform: none;
        }
    }

    [aria-checked='false'] {
        .toggle__off {
            background-color: hsl(var(--color-text) / 30%);
        }
    }

    [aria-checked='true'] {
        .toggle__on {
            background-color: $color-brand;
            color: $color-neutral-100;
        }
    }

    :is(.toggle__on, .toggle__off) {
        padding: $gutter-s;
    }

    .toggle--has-label {
        border: 0;
        gap: $gutter-s;

        .toggle__indicator {
            border: $border-width-s solid;
            display: flex;
        }
    }
}
