/*
----------------------------------------------------------------------------
Breakpoints specified in EM units due to Safari bug when increasing root font-size on HTML element - see https://zellwk.com/blog/media-query-units/.
----------------------------------------------------------------------------
*/

$bp-xsmall: 30em !default; // 480px
$bp-small: 48em !default; // 768px
$bp-medium: 48.0625em !default; // 769px
$bp-large: 64em !default; // 1024px
$bp-xlarge: 90em !default; // 1440px

// Zoom root font size on high density screens (e.g. 2K, 4K), but not to the extent that the additional real estate can't be utilised.
$bp-2k: 160em !default; // 2560px
$bp-4k: 240em !default; // 3840px

// Smaller breakpoint sometimes needed to specifically target very narrow screens (e.g. to force single column layout in cases where FLEX or GRID can still fit >1 column).
@mixin bp-xsmall {
    @media (max-width: $bp-xsmall) {
        @content;
    }
}

// There should be little need for 'bp-small' as default CSS behaviour is mobile-first.
@mixin bp-small {
    @media (max-width: $bp-small) {
        @content;
    }
}

@mixin bp-medium {
    @media (min-width: $bp-medium) {
        @content;
    }
}

@mixin bp-large {
    @media (min-width: $bp-large) {
        @content;
    }
}

@mixin bp-xlarge {
    @media (min-width: $bp-xlarge) {
        @content;
    }
}

@mixin bp-2k {
    @media (min-width: $bp-2k) {
        @content;
    }
}

@mixin bp-4k {
    @media (min-width: $bp-4k) {
        @content;
    }
}
