/*
----------------------------------------------------------------------------
<button class="button">
<a class="button" href="#">
----------------------------------------------------------------------------
*/

/*
----------------------------------------------------------------------------
Dependencies.
----------------------------------------------------------------------------
*/
@use '../base' as *;
@use '../mixins/focus' as *;

@mixin button-reset {
    @include focus($opacity: true, $transform: true);
    background: transparent;
    color: inherit;
    cursor: pointer;
    display: inline-block;
    padding: $gutter-s;
    text-decoration: none;

    &:disabled {
        cursor: not-allowed;
        opacity: 0.6;
    }
}
