/*
----------------------------------------------------------------------------
Hide content visually, but make available for screen readers.
See https://www.tpgi.com/the-anatomy-of-visually-hidden/
----------------------------------------------------------------------------
*/

/*
----------------------------------------------------------------------------
Dependencies.
----------------------------------------------------------------------------
*/
// @use 'base' as *;

@mixin off-screen() {
    &:not(:focus):not(:active) {
        block-size: 1px;
        clip-path: inset(50%);
        inline-size: 1px;
        overflow: hidden;
        position: absolute;
        white-space: nowrap;
    }
}
