/*
----------------------------------------------------------------------------
Dependencies.
----------------------------------------------------------------------------
*/
@use '../mixins' as *;
@use '../base' as *;

.page {
    display: grid;
    grid-template-rows: auto 1fr auto;
    margin-inline: auto;
    max-inline-size: var(--site-max-width);
    min-block-size: 100vh; // 100dvb might have performance implications.

    &__sidebar {
        .sidebar {
            // Set explicit flex-basis (width) for page sidebar.
            --sidebar-width: 20rem;
        }
    }

    // Main is a grid item, so this affects overflow behaviour on components like tables.
    .main {
        overflow-x: hidden;
    }
}
