/*
----------------------------------------------------------------------------
Stack.

See https://every-layout.dev/layouts/stack/.
----------------------------------------------------------------------------
*/

/*
----------------------------------------------------------------------------
Dependencies.
----------------------------------------------------------------------------
*/
@use '../base' as *;

.stack {
    --stack-gutter: var(--gutter-m);

    > * + * {
        margin-block-start: var(--stack-gutter, 1em);
    }

    > * {
        margin-block-end: 0;
    }

    &--gutter-xs {
        --stack-gutter: var(--gutter-xs);
    }

    &--gutter-s {
        --stack-gutter: var(--gutter-s);
    }

    &--gutter-l {
        --stack-gutter: var(--gutter-l);
    }

    &--gutter-xl {
        --stack-gutter: var(--gutter-xl);
    }
}
