/*
----------------------------------------------------------------------------
Config settings.
----------------------------------------------------------------------------
*/
:root {
    /* Layout. */
    --site-max-width: null;

    /* Spacing and gutters. Use for margin|padding, and gap in flex|grid layouts. */
    --gutter-xs: var(--space-2xs-xs);
    --gutter-s: var(--space-xs-s);
    --gutter-m: var(--space-s-m);
    --gutter-l: var(--space-m-l);
    --gutter-xl: var(--space-l-xl);

    /* Borders. */
    --border-width-s: 0.0625rem;
    --border-width-m: 0.125rem;

    /* Icons. */
    --icon-size-s: 1rem;
    --icon-size-m: 1.5rem;
    --icon-size-l: 2rem;

    /* Animations. */
    --animation-fast: 150ms ease-in-out;
    --animation-medium: 250ms ease-in-out;
    --animation-slow: 500ms ease-in-out;

    /* Miscellaneous. */
    --media-aspect-ratio: 16/9;
    --base-image-path: '../images/interface';
}

/* TODO - refactor mixin */
$grid-item-min-width: 12.5rem !default;
