/*
----------------------------------------------------------------------------
Typography settings.
----------------------------------------------------------------------------
*/

/*
----------------------------------------------------------------------------
Dependencies.
----------------------------------------------------------------------------
*/
@use 'colors' as *;

/*
----------------------------------------------------------------------------
Font-face rules.

'font-display: swap;' ensures that all text will be rendered with a fallback system font until custom font is ready.
----------------------------------------------------------------------------
*/
@font-face {
    font-display: swap;
    font-family: 'robotolight';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/roboto-light/roboto-light.woff') format('woff');
}

:root {
    --base-font-family: var(--type-font-family), var(--type-font-fallback);
    --base-font-family-title: var(--type-font-family-title),
        var(--type-font-fallback);
    --base-font-family-monospace: var(--type-font-family-monospace);

    --base-font-size: 100%;
    --base-font-size-2k: 110%; /* 2K screens */
    --base-font-size-4k: 200%; /* 4K screens */

    --base-line-height: 1.5;

    /* Only adjust line-height when fonts get large */
    --line-height-step-2: 1.3;
    --line-height-step-3: 1.3;
    --line-height-step-4: 1.2;
    --line-height-step-5: 1.2;
    --line-height-step-6: 1.2;
}

/*
----------------------------------------------------------------------------
Base font settings.
----------------------------------------------------------------------------
*/
$base-color: $color-text !default;
