/*
----------------------------------------------------------------------------
Typography settings.
----------------------------------------------------------------------------
*/

/*
----------------------------------------------------------------------------
Dependencies.
----------------------------------------------------------------------------
*/
@use 'colors' as *;

/*
----------------------------------------------------------------------------
Font-face rules.

'font-display: swap;' ensures that all text will be rendered with a fallback system font until custom font is ready.
----------------------------------------------------------------------------
*/
@font-face {
    font-display: swap;
    font-family: 'robotolight';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/roboto-light/roboto-light.woff') format('woff');
}

:root {
    --base-font-family: var(--type-font-family), var(--type-font-fallback);
    --base-font-family-title: var(--type-font-family-title),
        var(--type-font-fallback);
    --base-font-family-monospace: var(--type-font-family-monospace);

    --base-font-size: 100%;
    --base-font-size-2k: 110%; /* 2K screens */
    --base-font-size-4k: 200%; /* 4K screens */

    --font-size-body: var(--type-step-0);
    --font-size-s: var(--type-step--1);
    --font-size-h5: var(--type-step-1);
    --font-size-h4: var(--type-step-2);
    --font-size-h3: var(--type-step-3);
    --font-size-h2: var(--type-step-4);
    --font-size-h1: var(--type-step-5);
    --font-size-xl: var(--type-step-6);

    /* Only adjust line-height when fonts get large */
    --base-line-height: 1.5;
    --line-height-h4: 1.3;
    --line-height-h3: 1.3;
    --line-height-h2: 1.2;
    --line-height-h1: 1.2;
    --line-height-xl: 1.2;
}

/*
----------------------------------------------------------------------------
Base font settings.
----------------------------------------------------------------------------
*/
$base-color: $color-text !default;
