/*
----------------------------------------------------------------------------
Color settings.
----------------------------------------------------------------------------
*/
:root {
    /* Theme */
    --color-primary-500: var(--webui-color-brand);
    --color-primary-100: oklch(from var(--webui-color-brand) calc(l + 0.3) c h);

    /* Neutral */
    --color-neutral-900: oklch(
        from var(--webui-color-neutral) calc(l - 0.45) c h
    );
    --color-neutral-700: oklch(
        from var(--webui-color-neutral) calc(l - 0.25) c h
    );
    --color-neutral-500: var(--webui-color-neutral);
    --color-neutral-300: oklch(
        from var(--webui-color-neutral) calc(l + 0.25) c h
    );
    --color-neutral-100: oklch(
        from var(--webui-color-neutral) calc(l + 0.35) c h
    );

    /* Accent */
    --color-success-500: var(--webui-color-accent-positive);
    --color-success-100: oklch(
        from var(--webui-color-accent-positive) l c h / 10%
    );
    --color-error-500: var(--webui-color-accent-negative);
    --color-error-100: oklch(
        from var(--webui-color-accent-negative) l c h / 10%
    );
    --color-notify-500: var(--webui-color-accent-neutral);
    --color-notify-100: oklch(
        from var(--webui-color-accent-neutral) l c h / 10%
    );
    --color-focus: var(--webui-color-state-focus);
}
