/*
----------------------------------------------------------------------------
Color settings.

1. Copy the CSS custom properties inside the ':root {}' ruleset, along with their JSDoc comments, into 'base/colors-to-json.scss'.
2. Replace '--' with '$'.
3. The 'sass-export' Node package then correctly exports all the colors as JSON for consumption by Storybook.

TODO:
- Write custom Node script to convert these values into JSON without the manual copy/paste step into a Sass file.
----------------------------------------------------------------------------
*/
:root {
    /**
    * @sass-export-section="main theme colours"
    */
    --color-primary: hsl(var(--webui-color-brand));

    /**
    * @sass-export-section="neutral colours"
    */
    --color-background: hsl(var(--webui-color-neutral-100));
    --color-neutral-light: hsl(var(--webui-color-neutral-200));
    --color-text: hsl(var(--webui-color-neutral-700));
    --color-neutral-dark: hsl(var(--webui-color-neutral-900));

    /**
    * @sass-export-section="other accent colours"
    */
    --color-success: hsl(var(--webui-color-accent-positive));
    --color-error: hsl(var(--webui-color-accent-negative));
    --color-notify: hsl(var(--webui-color-accent-neutral));
    --color-focus: hsl(var(--webui-color-state-focused));
}
