/*
----------------------------------------------------------------------------
Color settings.

1. Copied from the CSS Custom properties in 'base/colors.css', and converted to Sass variables, replacing '--' with '$'.
2. The 'sass-export' Node package then correctly exports all the colors as JSON for consumption by Storybook.
3. This file is NOT imported and is NOT part of the Parcel build.

TODO:
- Write custom Node script to convert CSS into JSON without the manual copy/paste step into this Sass file.
----------------------------------------------------------------------------
*/
/**
* @sass-export-section="main theme colours"
*/
$color-primary-100: hsl(var(--webui-color-brand) / 20%);
$color-primary-500: hsl(var(--webui-color-brand));

/**
* @sass-export-section="neutral colours"
*/
$color-background: hsl(var(--webui-color-neutral-100));
$color-neutral-light: hsl(var(--webui-color-neutral-200));
$color-neutral-medium: hsl(var(--webui-color-neutral-500));
$color-text: hsl(var(--webui-color-neutral-700));
$color-neutral-dark: hsl(var(--webui-color-neutral-900));

/**
* @sass-export-section="other accent colours"
*/
$color-success-100: hsl(var(--webui-color-accent-positive) / 10%);
$color-success-500: hsl(var(--webui-color-accent-positive));
$color-error-100: hsl(var(--webui-color-accent-negative) / 10%);
$color-error-500: hsl(var(--webui-color-accent-negative));
$color-notify-100: hsl(var(--webui-color-accent-neutral) / 10%);
$color-notify-500: hsl(var(--webui-color-accent-neutral));
$color-focus: hsl(var(--webui-color-state-focused));
