/*
----------------------------------------------------------------------------
Config settings.
----------------------------------------------------------------------------
*/
:root {
    /* Layout. */
    --webui-site-max-width: null;

    /* Spacing and gutters. Use for margin|padding, and gap in flex|grid layouts. */
    --webui-gutter-xs: var(--space-2xs-xs);
    --webui-gutter-s: var(--space-xs-s);
    --webui-gutter-m: var(--space-s-m);
    --webui-gutter-l: var(--space-m-l);
    --webui-gutter-xl: var(--space-l-xl);

    /* :focus-visible.
        - Uses transparent outline so high contrast mode works.
        - See https://css-tricks.com/the-focus-visible-trick/.
    */
    --webui-focus-shadow: 0 0 0 var(--webui-border-width-l)
        var(--webui-color-focus-500);
    --webui-focus-outline: var(--webui-border-width-l) solid transparent;

    /* :hover and :active */
    --webui-hover-opacity: 0.8;
    --webui-active-transform: scale(0.975);

    /* Borders. */
    --webui-border-width-s: 0.0625rem;
    --webui-border-width-m: 0.125rem;
    --webui-border-width-l: 0.25rem;
    --webui-border-radius-s: 0.25rem;

    /* Icons. */
    --webui-icon-size-s: 1rem;
    --webui-icon-size-m: 1.5rem;
    --webui-icon-size-l: 2rem;

    /* Animations. */
    --webui-animation-fast: 150ms ease-in-out;
    --webui-animation-medium: 250ms ease-in-out;
    --webui-animation-slow: 500ms ease-in-out;

    /* z-index.
    1. Boilerplate uses native HTML <dialog> for modals, so '--webui-z-modal' has been deprecated.
    2. Popups (e.g. dropdown navigation menu) using '--webui-z-popup' will eventually be replaced by Popover API.
    */
    --webui-z-popup: 999;
    --webui-z-default: 1;
    --webui-z-reset: 0;
    --webui-z-below: -1;

    /* Miscellaneous. */
    --webui-media-aspect-ratio: 16/9;
    --webui-base-image-path: '../images/interface';
}
