/*
----------------------------------------------------------------------------
Config settings.
----------------------------------------------------------------------------
*/
:root {
    /* Layout. */
    --webui-site-max-width: var(--site-max-width);

    /* Spacing and gutters. Use for margin|padding, and gap in flex|grid layouts. */
    --webui-gutter-xs: var(--space-2xs-xs);
    --webui-gutter-s: var(--space-xs-s);
    --webui-gutter-m: var(--space-s-m);
    --webui-gutter-l: var(--space-m-l);
    --webui-gutter-xl: var(--space-l-xl);

    /* :focus-visible.
        - Uses transparent outline so high contrast mode works.
        - See https://css-tricks.com/the-focus-visible-trick/.
    */
    --webui-focus-shadow: var(--focus-shadow);
    --webui-focus-outline: var(--focus-outline);

    /* :hover, :active and :visited */
    --webui-hover-opacity: var(--hover-opacity);
    --webui-active-scale: var(--active-scale);
    --webui-visited-color: color-mix(
        in oklch,
        var(--color-accent-blue-500) 90%,
        var(--webui-color-neutral-900) 10%
    );

    /* Borders. */
    --webui-border-width-s: var(--border-width-s);
    --webui-border-width-m: var(--border-width-m);
    --webui-border-width-l: var(--border-width-l);
    --webui-border-radius-s: var(--border-radius-s);
    --webui-border-radius-m: var(--border-radius-m);
    --webui-border-radius-l: var(--border-radius-l);

    /* Icons. */
    --webui-icon-size-s: var(--icon-size-s);
    --webui-icon-size-m: var(--icon-size-m);
    --webui-icon-size-l: var(--icon-size-l);

    /* Animations. */
    --webui-animation-fast: var(--animation-fast);
    --webui-animation-medium: var(--animation-medium);
    --webui-animation-slow: var(--animation-slow);

    /* Miscellaneous. */
    --webui-media-aspect-ratio: 16/9;
    --webui-base-image-path: '../images/interface';
}
