/*
----------------------------------------------------------------------------
Typography settings.
----------------------------------------------------------------------------
*/

/*
----------------------------------------------------------------------------
Font-face rules.

'font-display: swap;' ensures that all text will be rendered with a fallback system font until custom font is ready.
----------------------------------------------------------------------------
*/
@font-face {
    font-display: swap;
    font-family: robotolight;
    font-style: normal;
    font-weight: normal;
    src: url('../../fonts/roboto-light/roboto-light.woff') format('woff');
}

:root {
    --webui-font-family: var(--font-family), var(--font-fallback);
    --webui-font-family-title: var(--font-family-title), var(--font-fallback);
    --webui-font-family-monospace: var(--font-family-monospace);
    --webui-font-size: 100%;
    --webui-font-size-2k: 110%; /* 2K screens */
    --webui-font-size-4k: 200%; /* 4K screens */
    --webui-font-size-body: var(--type-step-0);
    --webui-font-size-s: var(--type-step--1);
    --webui-font-size-h5: var(--type-step-1);
    --webui-font-size-h4: var(--type-step-2);
    --webui-font-size-h3: var(--type-step-3);
    --webui-font-size-h2: var(--type-step-4);
    --webui-font-size-h1: var(--type-step-5);
    --webui-font-size-xl: var(--type-step-6);

    /* Only adjust line-height when fonts get large */
    --webui-line-height: 1.5;
    --webui-line-height-h4: 1.3;
    --webui-line-height-h3: 1.3;
    --webui-line-height-h2: 1.2;
    --webui-line-height-h1: 1.2;
    --webui-line-height-xl: 1.2;

    /* Max line-length (aka measure) to improve readability of editorial content */
    --webui-type-max-line-length: 65ch;
}
