/*
----------------------------------------------------------------------------
Dependencies.
----------------------------------------------------------------------------
*/
@use '../mixins' as *;
@use '../base' as *;

@mixin validation {
    :is(.label, .checkbox__label, .radio__label) {
        padding-inline-end: $gutter-m;
        position: relative;

        &::after {
            color: $color-error;
            content: '!';
            display: block;
            font-size: 1em;
            font-weight: bold;
            inset-block-start: 0;
            inset-inline-end: 0;
            position: absolute;
        }
    }
}

.form {
    display: flex;
    flex-direction: column;
    gap: $gutter-m;

    &__field {
        display: flex;
        flex-direction: column;
        gap: $gutter-xs;

        &:has(:disabled) {
            .label {
                cursor: not-allowed;
                opacity: 0.6;
            }
        }

        // Native HTML5 validation.
        &:has(:valid:required) {
            @include validation;

            :is(.label, .checkbox__label, .radio__label) {
                /* stylelint-disable-next-line max-nesting-depth */
                &::after {
                    color: $color-success;
                    content: '✓';
                }
            }
        }

        &:has(:invalid:required:focus) {
            @include validation;
        }
    }

    // Errors rendered directly in HTML, or via JavaScript.
    &__field--has-error {
        @include validation;
    }

    &__error {
        color: $color-error;
    }
}

.message--error {
    + .form {
        margin-block-start: $gutter-m;
    }
}
