/*
----------------------------------------------------------------------------
Dependencies.
----------------------------------------------------------------------------
*/
// @use '../mixins' as *;
@use '../base' as *;

.label {
    display: block;

    &__subtext {
        display: block;
        font-size: $font-size-s;
    }
}
