/*
----------------------------------------------------------------------------
Dependencies.
----------------------------------------------------------------------------
*/
@use '../mixins' as *;
@use '../base' as *;

.radio {
    align-items: center;
    display: flex;
    gap: $gutter-s;

    &__input {
        block-size: 1.5em;
        inline-size: 1.5em;

        &:invalid:required:focus {
            box-shadow: 0 0 0 $border-width-m $color-error;
        }
    }
}
