/*
----------------------------------------------------------------------------
Dependencies.
----------------------------------------------------------------------------
*/
@use '../base' as *;
@use '../mixins' as *;

.accordion {
    $this: &;

    &__details + &__details {
        margin-block-start: $gutter-m;
    }

    &__summary {
        @include fluid-type($font-size-h5, $font-size-h3, $line-height-h3);
        @include focus;
        font-family: $heading-font-family;
        margin-block-end: $gutter-s;
    }

    &--custom-icon {
        #{$this}__summary {
            align-items: center;
            border-block-end: $border-width-s solid;
            display: flex;
            justify-content: space-between;
            list-style: none;
            padding-block-end: $gutter-s;

            &::-webkit-details-marker {
                display: none;
            }
        }

        .icon {
            transition: transform $animation-fast;
        }

        [open] {
            .icon {
                transform: rotate(180deg);
            }
        }
    }
}
