/*
----------------------------------------------------------------------------
Dependencies.
----------------------------------------------------------------------------
*/
@use '../base' as *;
@use '../mixins' as *;

.nav {
    $this: &;

    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: $gutter-m;
    }

    &__link {
        @include focus;
        color: inherit;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    [aria-current] {
        color: $brand;
        font-weight: bold;
    }

    // Hamburger navigation.
    &.nav--hamburger {
        position: relative;

        &.is-js-enabled {
            #{$this}--hamburger__button {
                display: inline-flex;
            }

            #{$this}__list {
                background-color: $background-color;
                inset-block-end: auto;
                position: absolute;
                z-index: z('popup');
            }
        }

        #{$this}__list {
            border: $border-width-s solid;
            flex-direction: column;
            padding: $gutter-m;
        }
    }

    #{$this}--hamburger__button {
        display: none;

        &[aria-expanded='false'] {
            .icon:last-of-type {
                display: none;
            }
        }

        &[aria-expanded='true'] {
            .icon:first-of-type {
                display: none;
            }
        }
    }
}
