/*
----------------------------------------------------------------------------
Dependencies.
----------------------------------------------------------------------------
*/
@use '../base' as *;
@use '../mixins' as *;

.search {
    .form {
        &__field {
            flex-grow: 1;
        }
    }

    :is(.form, .form__field) {
        align-items: center;
        flex-direction: row;
    }

    .input {
        flex-basis: 100%;
    }

    &.is-js-enabled {
        [type='submit'] {
            display: none;
        }
    }

    &__results {
        margin-block-start: $gutter-m;

        .grid {
            @include responsive-grid-auto-columns($max-width: 10rem);
        }
    }

    &__result {
        &__link {
            @include focus;
            color: inherit;
        }
    }
}
