/*
----------------------------------------------------------------------------
Dependencies.
----------------------------------------------------------------------------
*/
@use '../base' as *;
@use '../mixins' as *;

.skiplinks {
    position: absolute;

    &__link {
        @include off-screen;
        background-color: $color-brand;
        color: $color-neutral-100;
        display: inline-block;
        left: $gutter-m;
        min-inline-size: 10vw;
        padding: $gutter-s;
        text-align: center;
        z-index: z('default') + 1;
    }
}
