/*
----------------------------------------------------------------------------
Dependencies.
----------------------------------------------------------------------------
*/
@use '../base' as *;
@use '../mixins' as *;

// Define mixin so tables inside WYSIWYG can be styled without requiring CSS class to be added.
@mixin table {
    th,
    td {
        border: $border-width-s solid hsl(var(--color-neutral-900) / 10%);
        padding: $gutter-m;

        /* stylelint-disable-next-line order/order */
        @if $allow-dark-mode {
            @media (prefers-color-scheme: dark) {
                border-color: inherit;
            }
        }
    }

    th {
        font-weight: bold;
    }

    caption {
        margin-block-end: $gutter-xs;
    }
}

table,
.table {
    @include table;

    // Responsive wrapper.
    &-wrapper[role='region'][tabindex] {
        @include focus {
            cursor: default;
        }
        overflow: auto;
    }
}
