/*
----------------------------------------------------------------------------
Dependencies.
----------------------------------------------------------------------------
*/
@use '../base' as *;
@use '../mixins' as *;

.toggle {
    $this: &;

    &[aria-checked='false'] {
        #{$this}--on {
            display: none;
        }
    }

    &[aria-checked='true'] {
        #{$this}--off {
            display: none;
        }
    }
}
