/* Reset Docs typography to use theme settings. */
.sbdocs-content :where(:is(p, li):not([class]), dd, small) {
    max-inline-size: revert;
}

.sbdocs-content ul ul:not([class]) {
    list-style-type: circle;
}

.sbdocs-content code {
    font-weight: 600;
}

.sbdocs-a code {
    /* stylelint-disable-next-line declaration-no-important */
    color: inherit !important;
}

/*
    In dark mode (either via Storybook toolbar button or user's browser preference):
    1. Force Storybook docs pages to always use light color scheme so they're legible.
    2. Ensure all stories use dark color scheme, except color scheme toggle component (which sets its own color scheme).
*/
.dark {
    /* 1 */
    [id='storybook-docs'] {
        color-scheme: light;
    }

    /* 2 */
    &:not(:has(.color-scheme-toggle)) {
        color-scheme: dark;
    }

    [data-story-block='true'],
    baseline-status {
        color: initial;
    }
}

@media (prefers-color-scheme: dark) {
    [id='storybook-docs'] {
        color-scheme: light;
    }

    [data-story-block='true'],
    baseline-status {
        color: initial;
    }
}
