/* Reset Docs typography to use theme settings. */
.sbdocs-content :where(:is(p, li):not([class]), dd, small) {
    max-inline-size: none;
}

.sbdocs-content ul ul {
    list-style-type: circle;
}

.sbdocs-content code {
    color: inherit !important;
    font-size: inherit !important;
    font-weight: 600;
}

/* Override dark mode in Storybook docs so text is legible. */
@media (prefers-color-scheme: dark) {
    /* Nuke --lightningcss custom props. No idea why compiled CSS contains these! */
    [data-story-block='true'] {
        --lightningcss-light: ;
        --lightningcss-dark: ;
    }

    [data-story-block='true'],
    baseline-status {
        color: initial;
    }
}
