/* Reset Docs typography to use theme settings. */
.sbdocs-content :where(:is(p, li):not([class]), dd, small) {
    max-inline-size: none;
}

.sbdocs-content ul ul {
    list-style-type: circle;
}

.sbdocs-content code {
    color: inherit !important;
    font-size: inherit !important;
    font-weight: 600;
}

/* Override dark mode in Storybook UI so text (e.g. in docs mode) is legible. */
.dark {
    /* Nuke --lightningcss custom props. No idea why Parcel-bundled CSS contains these! */
    --lightningcss-light: ;
    --lightningcss-dark: ;

    background-color: var(--color-neutral-700);
    color: var(--color-neutral-300);
    color-scheme: dark;

    [data-story-block='true'],
    baseline-status {
        color: initial;
    }
}
