/* Reset Docs typography to use theme settings. */
.sbdocs-content :where(:is(p, li):not([class]), dd, small) {
    max-inline-size: none;
}

.sbdocs-content ul ul {
    list-style-type: circle;
}

.sbdocs-content code {
    font-size: inherit !important;
    font-weight: 600;
}

/*
    - Ensure dark mode in Storybook UI works (especially in docs mode).
    - Nuke "--lightningcss" custom props. See https://lightningcss.dev/transpilation.html#light-dark()-color-function.
*/
.dark {
    --lightningcss-light: ;

    background-color: var(--color-neutral-700);
    color: var(--color-neutral-300);
    color-scheme: dark;

    [data-story-block='true'],
    baseline-status {
        color: initial;
    }
}

@media (prefers-color-scheme: dark) {
    html {
        --lightningcss-light: ;

        background-color: var(--color-neutral-700);
        color: var(--color-neutral-300);
        color-scheme: dark;
    }

    [data-story-block='true'],
    baseline-status {
        color: initial;
    }
}
