/*
----------------------------------------------------------------------------
CSS custom properties for dynamic theming.

1. CSS variables are global if they are defined inside ':root' element.
2. Overrides can be applied via HTML <style> blocks, JavaScript or by simply setting a new value in a Sass partial.
3. Color values are specified as a comma-separated list of RGB values so they can be used in the Sass 'rgba()' function:

        color: #{'rgba(var(--color-brand), .5)'};
----------------------------------------------------------------------------
*/
:root {
    // Colors.
    --color-brand: 102, 51, 153; // rebeccapurple
    --color-text: 51, 51, 51;
    --color-background: 255, 255, 255;
    --color-black: 0, 0, 0;
    --color-white: 255, 255, 255;
    --color-accent-positive: 114, 198, 108;
    --color-accent-negative: 174, 25, 29;
    --color-accent-neutral: 230, 195, 0;
    --color-focus: 0, 180, 230;

    // Typography.
    --type-font-family: Arial;
    --type-font-family-title: 'robotolight';
    --type-max-line-length: 75ch;

    // Layout.
    --gutter-xs: 0.3125rem; // 5px
    --gutter-s: 0.625rem; // 10px
    --gutter-m: 1.25rem; // 20px
    --gutter-l: 2.5rem; // 40px
    --gutter-xl: 3.75rem; // 60px

    // Miscellaneous.
    --mediaAspectRatio: 16/9;
}

// Dark theme: ensure black & white are NOT truly black & white.
@media (prefers-color-scheme: dark) {
    :root {
        --color-brand: 168, 118, 208;
        --color-text: 243, 244, 244;
        --color-background: 34, 34, 34;
        --color-black: 34, 34, 34;
        --color-white: 244, 244, 244;
    }
}
